<div class="left-col big-col left_module">
    <form id="payment_information_form" action="/checkout/step/paymentinformation/" method="post">
        <input type="hidden" value="55c10a0b57dfa733f3a4755a58951be74df99555" name="FORM_TOKEN" /><input type="hidden" name="PaymentMethod[empty]" value="1" />
        <input type="hidden" name="fingerprint" class="js-fingerprint-input" />



        <div class="ch-box payment_form" data-payment="form">
            <h3 class="ch-main-title" data-payment="title">
                phương thức thanh toán
            </h3>
            <div id="tabs-container" class="payment_method_select">
                <div class="payment-options-holder-loading hide" style="display: none;">
                    <div class="loaddingHolder">
                        <span class="i-loader"></span>
                    </div>
                </div>
                <!-- global payment methods settings forms -->
                <div class="cf tab-wrapper">

                    <div id="payments-tabs-wrapper">
                        <div id="tabs-unselected" class="tab hidden">
                            <div class="payment_notavail_page">
                                <div class="payment_wrap">
                                    <div class="notavail_announcement">
                                        Xin vui lòng chọn một phương thức thanh toán
                                    </div>
                                </div>
                            </div>
                            <div class="space_35"></div>
                        </div>


                        <div id="tabs-CashOnDelivery" class="tab ">
                            <div class="cod_page">
                                <div class="payment_wrap">
                                    <div class="row">
                                        <input id="CashOnDelivery" value="CashOnDelivery" class="hidden" checked="checked" type="radio" name="PaymentMethodForm[payment_method]" />                    Quý khách sẽ thanh toán bằng tiền mặt khi nhận hàng tại nhà
                                    </div>
                                    <div class="row cod_aditional_info">
                                        <u>Lưu ý:</u> <br />- Bạn nhớ kiểm tra kỹ thông tin của đơn hàng bên phải vì thông tin này sẽ không thể thay đổi sau khi đơn hàng được xác nhận thành công.<br>
                                        - Sunflowershop.vn sẽ không gửi tin nhắn xác nhận đơn hàng nên bạn vui lòng xem lại thông tin trong xác nhận đơn hàng được gửi qua email.<br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-common" class="tab tab-common" style="">
                        <div class="payment_page">

                            <!-- No Tax info required -->
                            <div id="place_order_default" class="place_order_default">
                                <div class="action_btn">
                                    <div class="row">
                                        <input type="hidden" name="send" value="1">
                                        <button id="placeYourOrderBtn" type="submit" class="submit_btn cod_btn js-place-your-order-buttons">
                                            <span class="submit_btn_icon"></span>
                                            <span id="placeYourOrderButtonText" class="submit_btn_text">Đặt hàng</span>
                                        </button>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="payment-notice _block" data-payment="notice">
            Bằng cách đặt hàng, bạn đồng ý với Chính sách bảo mật và Điều khoản sử dụng của Sunflowershop.vn Việt Nam.
        </div>
    </form>
</div>
