<div class="checkout-main _primary">
    <div class="checkout-box _box">
        <div class="shipping_form">
            <div class="checkout-box _heading">
                <h3 class="checkout-box _title">
                    Địa chỉ giao hàng của quý khách
                </h3>

            </div>

            <div class="checkout-box _message"></div>

            <div class="checkout-box _content -has-padding">
                <div id="helptooltip">
                    <h3>Số điện thoại của bạn là cần thiết</h3>
                    <p>Xin vui lòng cung cấp số điện thoại của bạn. Sunflowershop sẽ thông báo thông tin giao hàng qua số điện thoại này.</p>
                </div>
                <form id="delivery_information_form" action="/Order/Information" method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <input type="hidden" name="ThreeStepShippingAddressForm[shipping_to]" value="residential">

                    <div data-form="shipping-new-address" data-type="0">

                        <div class="checkout-fields -shipping">

                            <div class="checkout-field _row" data-form="field">
                                <div class="checkout-field _main">
                                    <div class="checkout-field _title">
                                        <label class="checkout-field _label">
                                            Tên
                                        </label>
                                    </div>
                                    <div class="checkout-field _input-wrapper">
                                        <input class="checkout-field _input-text" maxlength="50" placeholder="Họ &amp; tên" data-field="input" name="fullname" id="ThreeStepShippingAddressForm_first_name" type="text" required/>
                                    </div>
                                    <div class="checkout-field _message" data-field="message"></div>
                                </div>
                            </div>


                            <div class="checkout-field _row" data-form="field">
                                <div class="checkout-field _main">
                                    <div class="checkout-field _title">
                                        <label class="checkout-field _label">
                                            Tỉnh/Thành phố
                                        </label>
                                    </div>
                                    <div class="checkout-field _input-wrapper">
                                        <select class="checkout-field _select location shipping" rel="location_0" data-field="input" name="province" id="ThreeStepShippingAddressForm_location_0">
                                            <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                                            <option value="Hà Nội">Hà Nội</option>
                                            <option value="Đà Nẵng">Đà Nẵng</option>
                                            <option value="Cần Thơ">Cần Thơ</option>
                                            <option value="Hải Phòng">Hải Phòng</option>
                                            <option value="An Giang">An Giang</option>
                                            <option value="Bà Rịa Vũng Tàu">Bà Rịa Vũng Tàu</option>
                                            <option value="Bắc Giang">Bắc Giang</option>
                                            <option value="Bắc Kạn">Bắc Kạn</option>
                                            <option value="Bạc Liêu">Bạc Liêu</option>
                                            <option value="Bắc Ninh">Bắc Ninh</option>
                                            <option value="Bến Tre">Bến Tre</option>
                                            <option value="Bình Định">Bình Định</option>
                                            <option value="Bình Dương">Bình Dương</option>
                                            <option value="Bình Phước">Bình Phước</option>
                                            <option value="Bình Thuận">Bình Thuận</option>
                                            <option value="Cà Mau">Cà Mau</option>
                                            <option value="Cao Bằng">Cao Bằng</option>
                                            <option value="Đăk Lăk">Đăk Lăk</option>
                                            <option value="Đăk Nông">Đăk Nông</option>
                                            <option value="Điện Biên">Điện Biên</option>
                                            <option value="Đồng Nai">Đồng Nai</option>
                                            <option value="Đồng Tháp">Đồng Tháp</option>
                                            <option value="Gia Lai">Gia Lai</option>
                                            <option value="Hà Giang">Hà Giang</option>
                                            <option value="Hà Nam">Hà Nam</option>
                                            <option value="Hà Tĩnh">Hà Tĩnh</option>
                                            <option value="Hải Dương">Hải Dương</option>
                                            <option value="Hậu Giang">Hậu Giang</option>
                                            <option value="Hòa Bình">Hòa Bình</option>
                                            <option value="Hưng Yên">Hưng Yên</option>
                                            <option value="Khánh Hòa">Khánh Hòa</option>
                                            <option value="Kiên Giang">Kiên Giang</option>
                                            <option value="Kon Tum">Kon Tum</option>
                                            <option value="Lai Châu">Lai Châu</option>
                                            <option value="Lâm Đồng">Lâm Đồng</option>
                                            <option value="Lạng Sơn">Lạng Sơn</option>
                                            <option value="Lào Cai">Lào Cai</option>
                                            <option value="Long An">Long An</option>
                                            <option value="Nam Định">Nam Định</option>
                                            <option value="Nghệ An">Nghệ An</option>
                                            <option value="Ninh Bình">Ninh Bình</option>
                                            <option value="Ninh Thuận">Ninh Thuận</option>
                                            <option value="Phú Thọ">Phú Thọ</option>
                                            <option value="Phú Yên">Phú Yên</option>
                                            <option value="Quảng Bình">Quảng Bình</option>
                                            <option value="Quảng Nam">Quảng Nam</option>
                                            <option value="Quảng Ngãi">Quảng Ngãi</option>
                                            <option value="Quảng Ninh">Quảng Ninh</option>
                                            <option value="Quảng Trị">Quảng Trị</option>
                                            <option value="Sóc Trăng">Sóc Trăng</option>
                                            <option value="Sơn La">Sơn La</option>
                                            <option value="Tây Ninh">Tây Ninh</option>
                                            <option value="Thái Bình">Thái Bình</option>
                                            <option value="Thái Nguyên">Thái Nguyên</option>
                                            <option value="Thanh Hóa">Thanh Hóa</option>
                                            <option value="hừa Thiên Huế">Thừa Thiên Huế</option>
                                            <option value="Tiền Giang">Tiền Giang</option>
                                            <option value="Trà Vinh">Trà Vinh</option>
                                            <option value="Tuyên Quang">Tuyên Quang</option>
                                            <option value="Vĩnh Long">Vĩnh Long</option>
                                            <option value="Vĩnh Phú">Vĩnh Phúc</option>
                                            <option value="Yên Bái">Yên Bái</option>
                                        </select>
                                    </div>
                                    <div class="checkout-field _message" data-field="message"></div>
                                </div>
                            </div>

                            <div class="checkout-field _row" data-form="field">
                                <div class="checkout-field _main">
                                    <div class="checkout-field _title">
                                        <label class="checkout-field _label">
                                            Quận/huyện
                                        </label>
                                    </div>
                                    <div class="checkout-field _input-wrapper">
                                        <input class="checkout-field _input-text" maxlength="50" placeholder="Quận/huyện" data-field="input" name="district" type="text" required/>
                                    </div>
                                    <div class="checkout-field _message" data-field="message"></div>
                                </div>
                            </div>

                            <div class="checkout-field _row" data-form="field">
                                <div class="checkout-field _main">
                                    <div class="checkout-field _title">
                                        <label class="checkout-field _label">
                                            Phường, xã
                                        </label>
                                    </div>
                                    <div class="checkout-field _input-wrapper">
                                        <input class="checkout-field _input-text" maxlength="50" placeholder="Phường/xã" data-field="input" name="ward" type="text" required/>
                                    </div>
                                    <div class="checkout-field _message" data-field="message"></div>
                                </div>
                                <input value="" name="ThreeStepShippingAddressForm[longitude]" id="ThreeStepShippingAddressForm_longitude" type="hidden"/><input value="" name="ThreeStepShippingAddressForm[latitude]" id="ThreeStepShippingAddressForm_latitude" type="hidden"/>
                            </div>

                            <div class="checkout-field _row" data-form="field">
                                <div class="checkout-field _main">
                                    <div class="checkout-field _title">
                                        <label for="" class="checkout-field _label">
                                            Vui lòng điền CHÍNH XÁC "tầng, số nhà, đường" để tránh trường hợp đơn hàng bị hủy ngoài ý muốn
                                        </label>
                                    </div>
                                    <div class="checkout-field _input-wrapper">
                                        <textarea class="checkout-field _input-textarea" rows="3" maxlength="255" placeholder="Vui lòng điền CHÍNH XÁC &quot;tầng, số nhà, đường&quot; để tránh trường hợp đơn hàng bị hủy ngoài ý muốn" data-field="input" data-address="vn" name="address" id="ThreeStepShippingAddressForm_address1" required></textarea>
                                    </div>
                                    <div class="checkout-field _message" data-field="message"></div>
                                </div>
                            </div>

                            <div class="checkout-field _row" data-form="field">
                                <div class="checkout-field _main">
                                    <div class="checkout-field _title">
                                        <label class="checkout-field _label">
                                            Điện thoại di động
                                        </label>
                                    </div>
                                    <div class="checkout-field _input-wrapper">
                                        <input class="checkout-field _input-phone -no-prefix" maxlength="20" placeholder="Số điện thoại" data-field="input" name="phone" id="ThreeStepShippingAddressForm_phone" type="text" required pattern="\d{7,11}" title="Bạn cần nhập đúng số điện thoại"/>
                                    </div>
                                    <div class="checkout-field _message" data-field="message"></div>
                                </div>
                                <div class="checkout-field _notice">
                                    <div class="checkout-field _explanation">
                                        sunflowershop.vn hoặc tổng đài tự động của chúng tôi sẽ liên hệ quý khách theo số điện thoại này để xác nhận hoặc thông báo giao hàng
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="checkout-field _submit-row -final-row" data-form="submit-wrapper" data-submit="new-address">
                        <input type="hidden" name="send" value="1">
                        <input type="submit" class="checkout-field _button" value="Tiếp tục »" data-button="shipping">
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

