@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="benphai float_l">
    <h1 style="color: #008000">Đơn Hàng của bạn đã được đặt thành công, chúng tôi sẽ sớm liên hệ với bạn qua số điện thoại 090.309.2311</h1>
</div>
