@model BusinessEntities.CategoryEntity

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<fieldset>
    <h1>@Model.Name</h1>
</fieldset>

<h3 class="editor-label">Bạn chắc chắn muốn xóa danh mục này không?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Quay về danh sách", "Index")
    </p>
}
