@using WebHoaHuongDuong.Models
<!DOCTYPE html>
<!--[if lt IE 7]> <html xmlns:fb="https://ogp.me/ns/fb#" class="no-js ie6 oldie" lang="vi" version="HTML+RDFa 1.1"> <![endif]-->
<!--[if IE 7]>    <html xmlns:fb="https://ogp.me/ns/fb#" class="no-js ie7 oldie" lang="vi" version="HTML+RDFa 1.1"> <![endif]-->
<!--[if IE 8]>    <html xmlns:fb="https://ogp.me/ns/fb#" class="no-js ie8 oldie" lang="vi" version="HTML+RDFa 1.1"> <![endif]-->
<!--[if IE 9]>    <html xmlns:fb="https://ogp.me/ns/fb#" class="no-js ie9" lang="vi" version="HTML+RDFa 1.1"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="https://www.w3.org/1999/xhtml/" prefix="og: https://ogp.me/ns# fb: https://www.facebook.com/2008/fbml" class="no-js" lang="vi">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="alexaVerifyID" content="C5dJel0mBdFClTCo0Wx20H4as4M" />
    <link rel="dns-prefetch" href="http://vn-live.slatic.net">
    <link rel="dns-prefetch" href="http://vn-live.slatic.net">
    <link rel="dns-prefetch" href="http://vn-live-01.slatic.net">
    <link rel="dns-prefetch" href="http://vn-live-02.slatic.net">
    <link rel="dns-prefetch" href="http://vn-live-03.slatic.net">
    <link rel="dns-prefetch" href="https://vn-live.slatic.net/">
    <link rel="dns-prefetch" href="//www.googletagmanager.com/">
    <link rel="dns-prefetch" href="//www.google-analytics.com/">
    <link rel="dns-prefetch" href="//www.adobetag.com/">
    <link rel="dns-prefetch" href="//affiliate.lazada.com/">

    <title>Đăng nhập</title>
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index,follow" />

    <meta name="msvalidate.01" content="557E1FB68005A08EB2DCD41767A8E71B" />


    <meta name="viewport" content="width=1006" />





    <link rel="alternate" href="android-app://com.lazada.android/lazada/vn/cc/m?utm_campaign=https%3A%2F%2Fwww.lazada.vn%2Fcheckout%2Fstep%2Findex&amp;utm_source=google_app_indexing" />

    <link rel="apple-touch-icon" sizes="57x57" href="/images/2014/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/2014/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/2014/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/2014/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/2014/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/2014/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/2014/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/2014/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/2014/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/2014/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/2014/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/2014/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/2014/icons/favicon-32x32.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/2014/icons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-config" content="/images/2014/icons/browserconfig.xml" />



    <!-- RENDER FROM THEME CONFIG FILE! -->
    <!-- END RENDER FROM THEME CONFIG FILE! -->


    <link rel="stylesheet" href="https://vn-live-03.slatic.net/css/live/alice-min-bundle-common-86dc992296.css" />
    <link rel="stylesheet" href="https://vn-live-03.slatic.net/css/live/alice-min-bundle-checkout-d5d93f938b.css" />
    <script type="text/javascript" src="~/statics/js/jquery-1.7.1.min.js"></script>
    <!--[if lte IE 8]><script src="/js/es5polyfill.js"></script><![endif]-->
</head>
<body class="l-full-hd ui-page-bg  chrome os_windows chrome-57 thm-core thm-spinbasket thm-ventures/vn/spinbasket thm-2014 thm-ventures/vn/2014 thm-local  static-design    ui-desktop"
      data-control="StepCheckout">
    <!-- Begin Google Tag Manager -->
    @if (ShoppingCart.Cart.Total == 0.0)
    {
        <script type="text/javascript">
            location.href = "/";
        </script>
    }
   @* @if (HttpContext.Current.Session["UserGuid"] == null)
    {
        <script type="text/javascript">
            location.href = "/Order/Step?step=Registration";
        </script>
    }*@

    <div id="page" class="l-page checkout-page">
        <div class="checkout-header _block">

            <div class="checkout-header _container">

                <a href="/" class="checkout-header _logo">
                    <img src="/images/logo.png"
                         class="checkout-header _logo-image"
                         width="125"
                         height="39"
                         alt=".www.sunflowershop.vn" />
                </a>
                @RenderSection("Steps", false)
            </div>

        </div>
        <div id="content">
            <div id="three_step_checkout" class="ch-container">
                <div role="main" class="container_24">

                    <input type="hidden" id="checkout-step" value="1">

                    <div class="checkout-main">
                        <div class="checkout-main _wrapper">
                            @RenderBody()
                            @Html.Partial("_OrderBlock")
                        </div>
                    </div>
                </div>
                <div class="checkout-footer">Bạn cần hỗ trợ? Gọi Hotline <strong> 090.309.2311  </strong> <br> &copy; Copyright 2013 - 2017, sunflowershop.vn</div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="~/statics/js/number_format.js"></script>
