<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=vietnamese' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cousine&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cousine|Roboto+Condensed&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Patrick+Hand&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/statics/css/main.css" />
    <link rel="stylesheet" type="text/css" href="~/statics/css/main2.css" />
    <link rel="stylesheet" type="text/css" href="~/statics/css/toolbarstype.css" />
    <link rel="stylesheet" type="text/css" href="~/statics/css/newsbar.css" />
    <link rel="stylesheet" type="text/css" href="~/statics/css/DetailProduct.css" />
    <!-- Block Search -->
    <link rel="stylesheet" type="text/css" href="~/statics/css/block_search.css" />
    <link rel="stylesheet" href="~/statics/css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="~/statics/css/list_product.css" />
    <link rel="stylesheet" type="text/css" href="~/statics/css/sosanh.css" />
    <link rel="stylesheet" type="text/css" href="~/statics/css/ch-css.css" />
    <link rel="stylesheet" type="text/css" href="~/statics/css/sprites_all.css" />
    <link type="text/css" media="all" rel="stylesheet" href="~/statics/css/skitter.styles.css" />

    <!-- css on Index-->
    <link rel="stylesheet" type="text/css" href="~/statics/css/index.css" />
    <!-- Block Search -->
    <!-- Tooltip -->
    <link rel="stylesheet" type="text/css" href="~/statics/css/tooltipPopup_web.css" />
    <!-- Tooltip -->
    <title>Sunflower Shop</title>
    <script type="text/javascript" src="~/statics/js/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/content/theme-color.css" />
    <link rel="stylesheet" type="text/css" href="~/content/responsive.css" />

    <script lang="javascript">(function () { var pname = ((document.title != '') ? document.title : document.querySelector('h1').innerHTML); var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = 1; ga.src = '//live.vnpgroup.net/js/web_client_box.php?hash=b5bb28724d4c3f4e5c1ecbd5444b6df1&data=eyJzc29faWQiOjQ3NTQ2NTIsImhhc2giOiI3NjUxYmY5NDQ4NjY5NzNjYWUzYmFlMmIyMGU4NGY3YSJ9&pname=' + pname; var s = document.getElementsByTagName('script'); s[0].parentNode.insertBefore(ga, s[0]); })();</script>
</head>
<body style="background: #452121; background-image: url(/images/qc_bg_0.56684000_1417675489.jpg); background-repeat: repeat; background-position: top center;" class="customer_">
    <div id="pro_xemnhanh"></div>
    <!--END XEM NHANH-->
    <div id="fb-root"></div>
    <div class="bg-top">
        @{Html.RenderPartial("_Header");}
        @{Html.RenderAction("_TopMenu", "Helper");}
    </div>
    <div class="clear"></div>

    <div class="wrapper">
        <div class='clear'></div>
        <div class="main">
            <div style="margin-bottom: 20px;">
                @RenderBody()
                <div class="bentrai float_l">
                    @{Html.RenderAction("_LeftMenu", "Helper");}
                    @{Html.RenderPartial("_FaceBook");}
                    <div class="bg_moddum">
                        <div class="tieude"><span class="b_ttnbat"></span>Tin nổi bật</div>
                        @{Html.RenderAction("HotestNew", "News");}
                    </div>
                    <!-- Danh mục sản phẩm mới thanh menu bên trái -->
                    <div class="bg_moddum">
                        <div class="tieude"><span class="b_spmoi"></span>Sản Phẩm Mới</div>
                        @{Html.RenderAction("_SanPhamMoi", "Helper");}
                    </div>

                    <!-- Danh mục sản phẩm nổi bât thanh menu bên trái -->
                    <div class="bg_moddum">
                        <div class="tieude"><span class="b_spmoi"></span>Sản Phẩm Nổi Bật</div>
                        @{Html.RenderAction("_SanPhamNoiBat", "Helper");}
                    </div>

                    <!-- Danh mục sản phẩm ngẫu nhiênthanh menu bên trái -->
                    <div class="bg_moddum">
                        <div class="tieude"><span class="b_spmoi"></span>Sản Phẩm Ngẫu Nhiên</div>
                        @{Html.RenderAction("_SanPhamNgauNhien", "Helper");}
                    </div>
                    <!-- tin tức ngẫu nhiên thanh bên trái-->
                    <div class="bg_moddum">
                        <div class="tieude"><span class="b_ttnbat"></span>Tin Tức Ngẫu Nhiên</div>
                        @{Html.RenderAction("RandomNew", "News");}
                    </div>
                    <!-- tin tức mới thanh bên trái-->
                    <div class="bg_moddum">
                        <div class="tieude"><span class="b_ttnbat"></span>Tin Tức Mới</div>
                        @{Html.RenderAction("NewestNew", "News");}
                    </div>
                    <div class="kpoll27482 hide">
                        <img style="position: absolute; top: 15px; right: 15px; cursor: pointer;" class="_kclose" src="http://v1.webbnc.net/themes/web/212/core/imgs/x-altx-alt.png" width="24" height="24" />
                        <div id="basic-modal-content27482"></div>
                    </div>
                    <script>
                        $('.submit_poll27482').click(function (e) {

                            $.post("", {
                                user_name: $("#pollcode27482").val()
                            }, function (data) {
                                if (data == 'no') {
                                    alert("Vui lòng nhập đúng mã bảo vệ!");
                                    $("#pollcode27482").focus();
                                } else {
                                    $('.kpoll27482').modal({
                                        opacity: 80,
                                        overlayCss: {
                                            backgroundColor: "#000"
                                        },
                                        containerCss: {
                                            border: 0,
                                            width: 610,
                                            height: 250
                                        },
                                        closeClass: "_kclose"
                                    });
                                    $('.modalCloseImg').hide();
                                    $("#basic-modal-content27482").html("Đang tải dữ liệu, xin vui lòng chờ...").fadeIn("slow");
                                    var actpoll = {
                                        poll: $("input[@@name='poll_27482']:checked").attr("value"),
                                        idpoll: '27482'
                                    };

                                    $.post("", actpoll, function (data) {
                                        $("#basic-modal-content27482").html(data).fadeTo(900, 1);
                                    });

                                }
                            });

                            return false;
                        });

                        $('.xem_ket_qua27482').click(function (e) {

                            $('.kpoll27482').modal({
                                opacity: 80,
                                overlayCss: {
                                    backgroundColor: "#000"
                                },
                                containerCss: {
                                    border: 0,
                                    width: 609,
                                    height: 369
                                },
                                closeClass: "_kclose"
                            });
                            $('.modalCloseImg').hide();
                            $("#basic-modal-content27482").html("Đang tải dữ liệu, xin vui lòng chờ...").fadeIn("slow");
                            var actpoll = {
                                idpoll: '27482'
                            };
                            $.post("", actpoll, function (data) {
                                $("#basic-modal-content27482").html(data);

                            });
                            return false;
                        });
                    </script>
                    <link href="~/statics/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
                    <script src="~/statics/js/jquery.mCustomScrollbar.concat.min.js"></script>
                    <script>
                        (function ($) {
                            $(window).load(function () {
                                $("#s_maps").mCustomScrollbar({
                                    autoHideScrollbar: true,
                                    theme: "light-thin"
                                });
                            });
                        })(jQuery);
                    </script>


                </div>

                <div class="clear"></div>
            </div>
            <div class="slide_bot"></div>
        </div>
        <a class="gotop" href="#top">
            <div class="top-g"></div>
        </a>
    </div>
    <!--wrapper-->
    @{Html.RenderPartial("_Footer");}
    @RenderSection("scripts", required: false);
    @*<script>
        $(function () {
            $("#search").autocomplete({
                source: "/Product/SearchAJX",
                minLength: 1,
                select: function (event, ui) {
                    console.log("Selected: " + ui.item.value);
                    $("input[name='keywords']").val(ui.item.value);
                }
            });
        })
    </script>*@
    <script>
        $(function () {
            $("#search").autocomplete({
                source: "/Product/SearchAJX",
                minLength: 1,
                select: function (event, ui) {
                    console.log("Selected: " + ui.item.value);
                    $("input[name='keywords']").val(ui.item.value);
                }, create: function () {
                    $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
                        return $('<li>')
                            .append('<div class="menu-item-avatar"><img width="100" src= "' + item.image +'" /></div>')
                            .append('<div class="menu-item-label">' + item.label + '</div>')
                            .appendTo(ul);
                    };
                }
            });
        })
    </script>
</body>
</html>

<script type="text/javascript" src="~/statics/js/jquery.transform-0.9.3.min_.js"></script>
<script type="text/javascript" src="~/statics/js/jcarousellite_1.0.1c4.js"></script>
<script type="text/javascript" src="~/statics/js/tipsy-1.0.0a.js"></script>
<script type="text/javascript" src="~/statics/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="~/statics/js/jquery.RotateImageMenu.js"></script>
<script src="~/statics/js/jquery-ui.js"></script>
<script type="text/javascript" src="~/statics/js/tooltipPopup.js"></script>
<script type="text/javascript" src="~/statics/js/y-lab.js"></script>
<script type="text/javascript" src="~/statics/js/jquery.simplemodal.js"></script>
<script type="text/javascript" src="~/statics/js/bnc_scroll.js"></script>
<script type="text/javascript" src="~/statics/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="~/statics/js/jquery.elevatezoom.js"></script>
<link rel="stylesheet" type="text/css" href="~/statics/css/jquery.fancybox-thumbs.css" />
<script type="text/javascript" src="~/statics/js/jquery.fancybox.js"></script>
<script src="~/statics/js/jquery.fancybox-thumbs.js"></script>
<script src="~/statics/js/widget.js"></script>
<script type="text/javascript">
    $(document).ready(function (e) {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('.gotop').css('right', '0px');
            } else {
                $('.gotop').css('right', '-100px');
            }
        });
    });
</script>
<script type="text/javascript" src="~/statics/js/number_format.js"></script>
<style type="text/css">
    #vgc_html_avg {
        display: none !important;
    }

    .header-menu {
        width: 100%;
    }
    .ui-autocomplete {
        position: absolute;
        cursor: default;
        z-index: 1001 !important
    }
    .menu-item-avatar {
        display: inline-block;
    }
    .menu-item-label {
        display: inline-block;
        font-size: 20px;
    }
</style>
