@model IEnumerable<DataModel.News>

    <div class="moddum">
        <div class="border1">
            <span class="vach_top"></span>
            <div class="news_hot bg_news_block">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="img_album">
                                <a href="~/News/ViewDetail/@item.News_ID" title="Thực phẩm chức năng là gì? Dùng như thế nào?">
                                    <img src='~/Images/News/@item.Thumbnail' onerror="this.onerror = null;this.src = 'images/145855437939.jpg&mode=crop&size=250x156'" alt="Thực phẩm chức năng là gì? Dùng như thế nào?" title="Thực phẩm chức năng là gì? Dùng như thế nào?" />
                                </a>
                            </div>
                            <div class="block_tit_news">
                                <a href="~/News/ViewDetail/@item.News_ID" class="blocktin">@item.Title</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="clear"></div>
            <p class="clear  float_r"><a href="~/News/ViewIndex" class="xemtatca_blok" style="margin-top: 10px;"><i>Xem tất cả</i></a></p>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
<script type="text/javascript">
    $(function () {
        $(".news_hot").jCarouselLite({
            auto: 3000,
            speed: 1000,
            visible: 2,
            vertical: true,
            hoverPause: true,
            scroll: 1
        });
    });
</script>

