 <div class="bg_moddum">
                        <div class="tieude"><span class="b_tktcap"></span>Thống kê</div>
                        <div class="moddum">
                            <div class="border">
                                <span class="vach_top"></span>
                                <div class="block_statistics">
                                    <div class="block_thongke_row_cl1">
                                        <img src="~/images/vtoday.png" width="16" height="16" />
                                    </div>
                                    <div class="block_thongke_row_cl2">Tổng truy cập</div>
                                    <div class="block_thongke_row_cl3" id="qcStats_total"></div>
                                    <div class="block_thongke_row_cl1 clear">
                                        <img src="~/images/vyesterday.png" width="16" height="16" />
                                    </div>
                                    <div class="block_thongke_row_cl2">Trong tháng</div>
                                    <div class="block_thongke_row_cl3" id="qcStats_month"></div>
                                    <div class="block_thongke_row_cl1 clear">
                                        <img src="~/images/vall.png" width="16" height="16" />
                                    </div>
                                    <div class="block_thongke_row_cl2">Trong tuần</div>
                                    <div class="block_thongke_row_cl3" id="qcStats_week"></div>
                                    <div class="block_thongke_row_cl1 clear">
                                        <img src="~/images/vtoday.png" width="16" height="16" />
                                    </div>
                                    <div class="block_thongke_row_cl2">Trong ngày</div>
                                    <div class="block_thongke_row_cl3" id="qcStats_day"></div>
                                    <div class="block_thongke_row_cl1 clear">
                                        <img src="~/images/vtoday.png" width="16" height="16" />
                                    </div>
                                    <div class="block_thongke_row_cl2">Trực tuyến</div>
                                    <div class="block_thongke_row_cl3" id="qcStats_online"></div>
                                    <script language="javascript" src="~/js/stats-bmd1eWVuaGFteXww.js"></script>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                                <span class="vach_bot"></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>