 <div class="ty_gia">
                        <div class="block_monetary_header bw_header" style="width: auto;">
                            <span class=" ic_monetary">Tỷ Giá
                            </span>
                        </div>
                        <div class="ty_gia_ct" id="s_maps" style="height: 215px;">
                            <table cellspacing='0' cellpadding='0' class='block_exchange'>
                                <tr class='head'>
                                    <td>Mã</td>
                                    <td>Mua vào</td>
                                    <td>Bán ra</td>
                                </tr>
                                <tr>
                                    <td>AUD</td>
                                    <td>16094.52</td>
                                    <td>16336.37</td>
                                </tr>

                                <tr>
                                    <td colspan='3'><i>(Nguồn Vietcombank.com.vn)</i></td>
                                </tr>
                            </table>
                        </div>
                        <div class="bottom_l"></div>
                    </div>