@model IEnumerable<BusinessEntities.ProductEntity>

<div style="margin-bottom: 30px; overflow: hidden">
    <div class="tit_sp_home"><a href="~/Category/SanPhamMoi">Sản phẩm mới</a> </div>

    <div class="content_xemnhanh">
        @foreach (var item in Model)
        {
            <div class="sp_pro relative part item_xemnhanh" dataload="MTQ5NzYyMw==">
                <div class="box_sp">
                    <div class="box_img_sp">
                        <h3 class="name_sp"><a id="tenss_@item.Product_ID" class="ten_sp " title="@item.Name" href="/Product/ProductDetail?id=@item.Product_ID">@item.Name</a></h3>
                        <div class="btnxemnhanh"><a id='id_@item.Product_ID' data-pjax='#huongcontent' class='xn-@item.Product_ID ' onclick="loadProduct('1497623','','','new')" href="/Product/ProductDetail?id=@item.Product_ID">Xem nhanh</a></div>
                        <div class="bg_comparison_tr"><span id="ss_@item.Product_ID" class="myicon btn-ss"></span></div> @*_0*@
                        <div class="khung">
                            <a href="~/Product/ProductDetail/@item.Product_ID" class="bnc_tooltips" data-id="1497623">
                                <img class="img" src='~/@item.Image.Trim()' onerror="this.onerror=null;this.src=''" alt="@item.Name" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pos_mr">
                    <div class="price_new">@item.Price VNĐ</div>
                    <div class="chitiet_sp"><a href="" class="">đặt mua</a></div>
                </div>
                <div class="clear"></div>
            </div>
        }
    </div>

</div>
