@model IEnumerable<BusinessEntities.ProductEntity>
<div class="tab_category">
    <div class="module_title">
        <ul class="cate_sp">
            <li class="begin">
                <h2><a href="">THỰC PHẨM DINH DƯỠNG</a></h2>
            </li>
        </ul>
        <p class="space3s float_r" style="position: absolute; right: 15px; top: 80px;"><a href="" class="viewall">&raquo;Xem tất cả</a></p>
    </div>
    <div class="clear"></div>
    <div class="module_body">
        <!--show sản pham co menu con-->
        <div class="module_body">
            <!-- show sản phẩm ko co menu con-->
            <div class="content_xemnhanh">

                @foreach (var item in Model)
                {
                    <div class="sp_pro relative part item_xemnhanh" dataload="MTI0Nzc1Mg==">
                        <div class="box_sp">
                            <div class="box_img_sp">
                                <h3 class="name_sp"><a id="tenss_1247752" class="ten_sp " title="" href="~/Product/ProductDetail?id=@item.Product_ID">@item.Name</a></h3>
                                <div class="btnxemnhanh"><a id='id_1247752' data-pjax='#huongcontent' class='xn-1247752 ' onclick="loadProduct('1247752','','','new')" href="~/Product/ProductDetail?id=@item.Product_ID">Xem nhanh</a></div>
                                
                                <div class="khung">
                                    <a href="~/Product/ProductDetail?id=@item.Product_ID" class="bnc_tooltips" data-id="1247752">
                                        <img class="img" src='~/@item.Image.Trim()' onerror="this.onerror=null;this.src=''" alt="" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="pos_mr">
                            <div class="price_new price-format"><span>@item.Price</span> VNĐ</div>
                            <div class="chitiet_sp"><a href="~/product/productdetail/@item.Product_ID" class="">đặt mua</a></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                }
            </div>
            <div class="clearfix"></div>
            <!--<p class="spacesp float_r"><a style="right:-58px" href="" class="viewall">&raquo; Xem tất cả</a></p>
                                 <div class="clearfix"></div>-->
        </div>
        <div class="clearfix"></div>
    </div>
</div>
