@model IEnumerable<DataModel.Product>

@{
    ViewBag.Title = "Result";
}

@*@foreach(var c in Model){
        <div class="nn-cat-banner">
        <img src="/Content/img/categories/@c.Category.Image" class="img-responsive" />
    </div>
    }*@
<div style="margin-bottom: 30px; overflow: hidden">
    <div class="tit_sp_home"><a href="~/Category/SanPhamMoi">Kết quả</a> </div>

    <div class="content_xemnhanh">
        @foreach (var item in Model)
        {
            <div class="sp_pro relative part item_xemnhanh" dataload="MTQ5NzYyMw==">
                <div class="box_sp">
                    <div class="box_img_sp">
                        <h3 class="name_sp"><a id="tenss_@item.Product_ID" class="ten_sp " title="@item.Name" href="~/Product/ProductDetail?id=@item.Product_ID">@item.Name</a></h3>
                        <div class="btnxemnhanh"><a id='id_@item.Product_ID' data-pjax='#huongcontent' class='xn-@item.Product_ID ' onclick="loadProduct('1497623','','http://mapu.vn','new')" href="~/Product/ProductDetail/@item.Product_ID">Xem nhanh</a></div>
                        <div class="bg_comparison_tr"><span id="ss_@item.Product_ID" class="myicon btn-ss"></span></div> @*_0*@
                        <div class="khung">
                            <a href="http://mapu.vn/kem-chong-nang-ego-sunsense-spf-50-cho-mat-75g--1-1-1497623.html" class="bnc_tooltips" data-id="1497623">
                                <img class="img" src='~/@item.Image.Trim()' onerror="this.onerror=null;this.src='https://upload.webbnc.net/view.php?image=upload/web/51/513168/product/2016/04/21/10/52/146123594563.jpg&mode=resize&size=245x235'" alt="@item.Name" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pos_mr">
                    <div class="price_new">@item.Price VNĐ</div>
                    <div class="chitiet_sp"><a href="http://mapu.vn/kem-chong-nang-ego-sunsense-spf-50-cho-mat-75g--1-1-1497623.html" class="">đặt mua</a></div>
                </div>
                <div class="clear"></div>
            </div>
        }
    </div>

</div>

@section scripts{
    <script>
        $(function () {
            $(".add-to-cart").click(function () {
                pid = $(this).attr("data-id");
                $.ajax({
                    url: "/Cart/Add",
                    data: { id: pid },
                    success: function (response) {
                        $("#nn-cart-count").html(response.Count);
                        $("#nn-cart-total").html(response.Total);
                    }
                });

                // hieu ung bay vao gio
                //cssfly = ".fly-effect {background:url(?);background-size:100% 100%;}";
                //src = $("#i" + pid).attr("src");
                //newcssfly = cssfly.replace("?", src);
                //$("#cart-fly").html(newcssfly);

                //options = { to: "#nn-cart-image", className: "fly-effect" };
                //$("#i" + pid).effect("transfer", options, 500, function () { });
            });
        });
    </script>
}