
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="vi" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="vi" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" class="ltr" lang="vi">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content=" width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title> Nước hoa SK II</title>
    <meta name="description" content="Nước hoa SK II" />
    <meta name="keywords" content="Nước hoa SK II" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="http://pharmacity.vn/image/catalog/Logo/icon1.png" rel="icon" />
    <link href="icon.png" rel="icon" />
    <link href="http://pharmacity.vn/Aceclofenac-Stada-100mg" rel="canonical" />
    <link href="~/catalog/view/theme/megashop/stylesheet/bootstrap.css" rel="stylesheet" />
    <link href="~/catalog/view/theme/megashop/stylesheet/stylesheet.css" rel="stylesheet" />
    <link href="~/catalog/view/theme/megashop/stylesheet/font.css" rel="stylesheet" />
    <link href="~/catalog/view/theme/megashop/stylesheet/paneltool.css" rel="stylesheet" />
    <link href="~/catalog/view/javascript/jquery/colorpicker/css/colorpicker.css" rel="stylesheet" />
    <link href="~/catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/catalog/view/javascript/jquery/magnific/magnific-popup.css" rel="stylesheet" />
    <link href="~/catalog/view/javascript/jquery/magnific/magnific-popup.css" rel="stylesheet" />
    <link href="~/catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/catalog/view/javascript/common.js"></script>
    <script type="text/javascript" src="~/catalog/view/theme/megashop/javascript/common.js"></script>
    <script type="text/javascript" src="~/catalog/view/javascript/jquery/colorpicker/js/colorpicker.js"></script>
    <script type="text/javascript" src="~/catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/catalog/view/javascript/jquery/datetimepicker/moment.js"></script>
    <script type="text/javascript" src="~/catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"></script>

    <style>
        #page .container {
            max-width: 1200px;
            width: auto
        }
    </style>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'catalog/view/js/analytics.js', 'ga');

        ga('create', 'UA-64594461-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>

<body class="main-menu-fixed product-product-732 page-product layout-fullwidth">

    <section class="row-offcanvas row-offcanvas-left">

        <div id="page">
            <!-- header-->
            <section id="header-top">
                <!-- top bar-->
                <div id="topbar">
                    <div class="container">
                        <div class="show-desktop">
                            <div class="quick-access pull-left  hidden-sm hidden-xs">
                                <div class="login links link-active">
                                    <a href="#">Đăng Ký</a> or
                                    <a href="#">Đăng Nhập</a>
                                </div>
                            </div>
                            <!--control -->
                            <div class="quick-top-link  links pull-right">
                                <!-- language -->
                                <div class="btn-group box-language">
                                    <div class="pull-left">
                                        <form action="http://pharmacity.vn/index.php?route=common/language/language" method="post" enctype="multipart/form-data" id="language">
                                            <div class="btn-groups">
                                                <div data-toggle="dropdown" class="dropdown-toggle" type="button">
                                                    <img src="~/image/flags/vn.png" alt="Việt Nam" title="Việt Nam">
                                                    <span>Ngôn ngữ</span> <i class="fa fa-angle-down"></i>
                                                </div>
                                                <ul class="dropdown-menu">'
                                                    <li>
                                                        <a href="en"><img src="~/image/flags/gb.png" alt="English" title="English" /> English</a>
                                                    </li>
                                                    <li>
                                                        <a href="vi"><img src="~/image/flags/vn.png" alt="Việt Nam" title="Việt Nam" /> Việt Nam</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <input type="hidden" name="code" value="" />
                                            <input type="hidden" name="redirect" value="http://pharmacity.vn/index.php?route=common/home" />
                                        </form>
                                    </div>
                                </div>
                                <!-- currency -->
                                <div class="btn-group box-currency">
                                </div>
                                <!-- user-->
                                <div class="btn-group box-user">
                                    <div data-toggle="dropdown">
                                        <span>Tài Khoản</span>
                                        <i class="fa fa-angle-down "></i>
                                    </div>
                                    <ul class="dropdown-menu setting-menu">
                                        <li id="wishlist">
                                            <a href="#" id="wishlist-total"><i class="fa fa-list-alt"></i>&nbsp;&nbsp;Yêu thích (0)</a>
                                        </li>
                                        <li class="acount">
                                            <a href="#"><i class="fa fa-user"></i>&nbsp;&nbsp;Tài Khoản</a>
                                        </li>
                                        <li class="shopping-cart">
                                            <a href="#"><i class="fa fa-bookmark"></i>&nbsp;&nbsp;Giỏ hàng</a>
                                        </li>
                                        <li class="checkout">
                                            <a class="last" href="#"><i class="fa fa-share"></i>&nbsp;&nbsp;Thanh toán</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--end control-->
                        </div>
                    </div>
                </div>
                <!--end top bar-->

                <!-- menu ngang dau tien-->
                <div class="has-verticalmenu">
                    <!-- header -->
                    <header id="header">
                        <div id="header-main" class="hasverticalmenu">
                            <div class="container">
                                <div class="row">
                                    <!--logo zone-->
                                    <div class="logo inner  col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div id="logo-theme" class="logo-store pull-left">
                                            <a href="/"><img src="~/image/logo.jpg"></a>                                        
                                        </div>
                                    </div>
                                    <!--end logo zone-->

                                    <!-- search textbox-->
                                    <div class="inner col-lg-6 col-md-6 col-sm-6 col-xs-121">
                                        <div id="search-auto" class=" search-box search-wrapper clearfix clearfix">
                                            <div class=" search_block">
                                                <form method="GET" action="index.php" class="input-group search-box">
                                                    <div class="filter_type category_filter input-group-addon group-addon-select no-padding icon-select">
                                                        <select name="category_id" class="no-border">
                                                            <option value="0">All Category</option>
                                                            <option value="27">on Going</option>
                                                            <option value="53">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quần Áo</option>
                                                            
                                                         </select>
                                                    </div>
                                                    <div id="search0" class="search-input-wrapper clearfix clearfixs input-group">
                                                        <input type="text" value="" size="35" autocomplete="off" placeholder="Search.." name="search" class="form-control input-lg input-search" >
                                                        <span class="input-group-addon input-group-search">
                                                            <span class="fa fa-search"></span>
                                                            <span class="button-search ">Search..</span>
                                                        </span>
                                                    </div>
                                                    <input type="hidden" name="sub_category" value="1" id="sub_category" />
                                                    <input type="hidden" name="route" value="product/search" />
                                                    <input type="hidden" name="sub_category" value="true" id="sub_category" />
                                                    <input type="hidden" name="description" value="true" id="description" />
                                                </form>
                                                <div class="clear clr"></div>
                                            </div>
                                            <script type="text/javascript">
                                                /* Autocomplete */
                                                (function($) {
                                                    function Autocomplete1(element, options) {
                                                        this.element = element;
                                                        this.options = options;
                                                        this.timer = null;
                                                        this.items = new Array();

                                                        $(element).attr('autocomplete', 'off');
                                                        $(element).on('focus', $.proxy(this.focus, this));
                                                        $(element).on('blur', $.proxy(this.blur, this));
                                                        $(element).on('keydown', $.proxy(this.keydown, this));

                                                        $(element).after('<ul class="dropdown-menu autosearch"></ul>');
                                                        $(element).siblings('ul.dropdown-menu').delegate('a', 'click', $.proxy(this.click, this));
                                                    }

                                                    Autocomplete1.prototype = {
                                                        focus: function() {
                                                            this.request();
                                                        },
                                                        blur: function() {
                                                            setTimeout(function(object) {
                                                                object.hide();
                                                            }, 200, this);
                                                        },
                                                        click: function(event) {
                                                            event.preventDefault();
                                                            value = $(event.target).parent().attr("href");
                                                            if (value) {
                                                                window.location = value.replace(/&amp;/gi, '&');
                                                            }
                                                        },
                                                        keydown: function(event) {
                                                            switch (event.keyCode) {
                                                                case 27: // escape
                                                                    this.hide();
                                                                    break;
                                                                default:
                                                                    this.request();
                                                                    break;
                                                            }
                                                        },
                                                        show: function() {
                                                            var pos = $(this.element).position();

                                                            $(this.element).siblings('ul.dropdown-menu').css({
                                                                top: pos.top + $(this.element).outerHeight(),
                                                                left: pos.left
                                                            });

                                                            $(this.element).siblings('ul.dropdown-menu').show();
                                                        },
                                                        hide: function() {
                                                            $(this.element).siblings('ul.dropdown-menu').hide();
                                                        },
                                                        request: function() {
                                                            clearTimeout(this.timer);

                                                            this.timer = setTimeout(function(object) {
                                                                object.options.source($(object.element).val(), $.proxy(object.response, object));
                                                            }, 200, this);
                                                        },
                                                        response: function(json) {
                                                            console.log(json);
                                                            html = '';

                                                            if (json.length) {
                                                                for (i = 0; i < json.length; i++) {
                                                                    this.items[json[i]['value']] = json[i];
                                                                }

                                                                for (i = 0; i < json.length; i++) {
                                                                    if (!json[i]['category']) {
                                                                        html += '<li class="media" data-value="' + json[i]['value'] + '">';
                                                                        if (json[i]['simage']) {
                                                                            html += '   <a class="media-left" href="' + json[i]['link'] + '"><img  src="' + json[i]['image'] + '"></a>';
                                                                        }
                                                                        html += '<div class="media-body">';
                                                                        html += '   <a  href="' + json[i]['link'] + '"><span>' + json[i]['label'] + '</span></a>';
                                                                        if (json[i]['sprice']) {
                                                                            html += '   <div>';
                                                                            if (!json[i]['special']) {
                                                                                html += json[i]['price'];
                                                                            } else {
                                                                                html += '<span class="price-old">' + json[i]['price'] + '</span><span class="price-new">' + json[i]['special'] + '</span>';
                                                                            }
                                                                            if (json[i]['tax']) {
                                                                                html += '<br />';
                                                                                html += '<span class="price-tax">Ex Tax: : ' + json[i]['tax'] + '</span>';
                                                                            }
                                                                            html += '   </div> </div>';
                                                                        }
                                                                        html += '</li>';
                                                                    }
                                                                }
                                                                //html += '<li><a href="index.php?route=product/search&search='+g.term+'&category_id='+category_id+'&sub_category=true&description=true" onclick="window.location=this.href">'+text_view_all+'</a></li>';

                                                                // Get all the ones with a categories
                                                                var category = new Array();
                                                                for (i = 0; i < json.length; i++) {
                                                                    if (json[i]['category']) {
                                                                        if (!category[json[i]['category']]) {
                                                                            category[json[i]['category']] = new Array();
                                                                            category[json[i]['category']]['name'] = json[i]['category'];
                                                                            category[json[i]['category']]['item'] = new Array();
                                                                        }
                                                                        category[json[i]['category']]['item'].push(json[i]);
                                                                    }
                                                                }
                                                                for (i in category) {
                                                                    html += '<li class="dropdown-header">' + category[i]['name'] + '</li>';
                                                                    for (j = 0; j < category[i]['item'].length; j++) {
                                                                        html += '<li data-value="' + category[i]['item'][j]['value'] + '"><a href="#">&nbsp;&nbsp;&nbsp;' + category[i]['item'][j]['label'] + '</a></li>';
                                                                    }
                                                                }
                                                            }
                                                            if (html) {
                                                                this.show();
                                                            } else {
                                                                this.hide();
                                                            }
                                                            $(this.element).siblings('ul.dropdown-menu').html(html);
                                                        }
                                                    };

                                                    $.fn.autocomplete1 = function(option) {
                                                        return this.each(function() {
                                                            var data = $(this).data('autocomplete');
                                                            if (!data) {
                                                                data = new Autocomplete1(this, option);
                                                                $(this).data('autocomplete', data);
                                                            }
                                                        });
                                                    }
                                                })(window.jQuery);
                                                $(document).ready(function() {
                                                    var selector = '#search0';
                                                    var total = 0;
                                                    var show_image = true;
                                                    var show_price = true;
                                                    var search_sub_category = true;
                                                    var search_description = true;
                                                    var width = 102;
                                                    var height = 102;

                                                    $(selector).find('input[name=\'search\']').autocomplete1({
                                                        delay: 500,
                                                        source: function(request, response) {
                                                            var category_id = $(".category_filter select[name=\"category_id\"]").first().val();
                                                            if (typeof(category_id) == 'undefined')
                                                                category_id = 0;
                                                            var limit = 5;
                                                            var search_sub_category = search_sub_category ? '&sub_category=true' : '';
                                                            var search_description = search_description ? '&description=true' : '';
                                                            $.ajax({
                                                                url: 'index.php?route=module/pavautosearch/autocomplete&filter_category_id=' + category_id + '&width=' + width + '&height=' + height + '&limit=' + limit + search_sub_category + search_description + '&filter_name=' + encodeURIComponent(request),
                                                                dataType: 'json',
                                                                success: function(json) {
                                                                    response($.map(json, function(item) {
                                                                        if ($('.pavautosearch_result')) {
                                                                            $('.pavautosearch_result').first().html("");
                                                                        }
                                                                        total = 0;
                                                                        if (item.total) {
                                                                            total = item.total;
                                                                        }
                                                                        return {
                                                                            price: item.price,
                                                                            speical: item.special,
                                                                            tax: item.tax,
                                                                            label: item.name,
                                                                            image: item.image,
                                                                            link: item.link,
                                                                            value: item.product_id,
                                                                            sprice: show_price,
                                                                            simage: show_image,
                                                                        }
                                                                    }));
                                                                }
                                                            });
                                                        },
                                                    }); // End Autocomplete 

                                                }); // End document.ready
                                            </script>
                                        </div>
                                    </div>
                                    <!-- end search textbox-->

                                    <!--gio hang-->
                                    <div id="hidemenu" class=" inner col-lg-3 col-md-3 col-sm-3 hidden-xs">
                                        <div class="cart-top">
                                            <div id="cart" class="btn-group btn-block">
                                                <div type="button" data-toggle="dropdown" data-loading-text="Đang xử lý..." class="heading dropdown-toggle">
                                                    <div class="cart-inner pull-right">
                                                        <div class="icon-cart"></div>
                                                        <h4>Xem Giỏ Hàng</h4>
                                                        <a><span id="cart-total">0 SP - 0đ<i class="fa fa-angle-down"></i></span></a>
                                                    </div>
                                                </div>
                                                <ul class="dropdown-menu pull-right content">
                                                    <li>
                                                        <p class="text-center empty">Giỏ Hàng đang trống!</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="cart-inner pull-right">
                                            <div style="color:#1175b1;font-size: 18px;margin-top:10px;">
                                            <span class="fa fa-phone" style="font-size: 20px;margin-right:10px;"></span>
                                            <span>SĐT</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end gio hang-->
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- end header-->

                    <!-- navigation menu -->
                    <section id="pav-masshead" class="pav-masshead aligned-right">
                        <div class="container">
                            <div class="inner row clearfix">
                                <!-- menu Danh muc-->
                                <div id="hidemenu" class="col-lg-3 col-md-3 col-sm-4 hidden-xs">
                                    <div id="pav-verticalmenu" class="pav-verticalmenu hasicon box box-highlighted hidden-xs">
                                        <div class="box-heading">
                                            <span>Danh Mục</span>
                                        </div>
                                        <div class="box-content">
                                            <div id="verticalmenu" class="verticalmenus" role="navigation">
                                                <div class="navbar navbar-vertical">
                                                    <a href="javascript:;" data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle">
                                                        <span class="icon-bar"></span>
                                                    </a>
                                                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                                                        <ul class="nav navbar-nav verticalmenu">
                                                            <li class="parent dropdown ">
                                                                <a class="dropdown-toggle disabled" data-toggle="dropdown" href="">
                                                                    <span class="menu-title">Quần Áo</span>
                                                                    <span class="menu-desc"></span>
                                                                    <b class="caret"></b>
                                                                </a>
                                                                <div class="dropdown-menu level1">
                                                                    <div class="dropdown-menu-inner">
                                                                        <div class="row">
                                                                            <div class="col-sm-12 mega-col" data-colwidth="12" data-type="menu">
                                                                                <div class="mega-col-inner">
                                                                                    <ul>
                                                                                        <li class=""><a href=""><span class="menu-title">Quần áo người lớn</span><span class="menu-desc"></span></a></li>
                                                                                        <li class=""><a href=""><span class="menu-title">Quần áo trẻ em</span><span class="menu-desc"></span></a></li>
                                                                                        <li class=""><a href=""><span class="menu-title">Thời trang </span><span class="menu-desc"></span></a></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="parent dropdown ">
                                                                <a class="dropdown-toggle disabled" data-toggle="dropdown" href="">
                                                                <span class="menu-title">Mỹ phẩm</span>
                                                                <span class="menu-desc">Mỹ phẩm</span>
                                                                <b class="caret"></b>
                                                                </a>
                                                                <div class="dropdown-menu level1">
                                                                    <div class="dropdown-menu-inner">
                                                                        <div class="row">
                                                                            <div class="col-sm-12 mega-col" data-colwidth="12" data-type="menu">
                                                                                <div class="mega-col-inner">
                                                                                    <ul>
                                                                                        <li class=""><a href=""><span class="menu-title"> Kem dưỡng da</span><span class="menu-desc"></span></a></li>
                                                                                        <li class=""><a href=""><span class="menu-title">Chống Dị Ứng, Say Tàu Xe</span><span class="menu-desc">Chống Dị Ứng, Say Tàu Xe</span></a></li>
                                                                                        <li class=" "><a href=""><span class="menu-title"> </span><span class="menu-desc">Kháng khuẩn, kháng nấm</span></a></li>
                                                                                        <li class=""><a href=""><span class="menu-title">Chăm Sóc Da Mặt</span><span class="menu-desc">Chăm Sóc Da Mặt</span></a></li>
                                                                                        <li class=""><a href=""><span class="menu-title">Trang Điểm</span><span class="menu-desc">Trang Điểm</span></a></li>
                                                                                        <li class=""><a href=""><span class="menu-title">Trị sẹo hiệu quả</span><span class="menu-desc">Trị sẹo hiệu quả</span></a></li>
                                                                                        <li class=""><a href=""><span class="menu-title">Dụng Cụ làm Đẹp</span><span class="menu-desc">Dụng Cụ làm Đẹp</span></a></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="parent dropdown ">
                                                                <a class="dropdown-toggle disabled" data-toggle="dropdown" href=""><span class="menu-title">Đồ chơi trẻ em</span><span class="menu-desc">Đồ chơi trẻ em</span><b class="caret"></b></a>
                                                                <div class="dropdown-menu level1">
                                                                    <div class="dropdown-menu-inner">
                                                                        <div class="row">
                                                                            <div class="col-sm-12 mega-col" data-colwidth="12" data-type="menu">
                                                                                <div class="mega-col-inner">
                                                                                    <ul>
                                                                                        <li class=" "><a href=""><span class="menu-title"> Từ 2 - 4 tuổi</span><span class="menu-desc"></span></a></li>
                                                                                        <li class=" "><a href=""><span class="menu-title"> Từ 4 - 6 tuổi</span><span class="menu-desc"></span></a></li>
                                                                                        <li class=" "><a href=""><span class="menu-title"> Trên 6 tuổi</span><span class="menu-desc"></span></a></li>
                                                                                        
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="">
                                                                <a href="http://pharmacity.vn/thuoc-dong-y"><span class="menu-title">Hàng lưu niệm</span></a>
                                                            </li> 
                                                            <li class="parent dropdown ">
                                                                <a class="dropdown-toggle disabled" data-toggle="dropdown" href=""><span class="menu-title">Thực Phẩm &amp; Đồ Uống</span><span class="menu-desc">Thực Phẩm &amp; Đồ Uống</span><b class="caret"></b>
                                                                </a>
                                                                <div class="dropdown-menu level1">
                                                                    <div class="dropdown-menu-inner">
                                                                        <div class="row">
                                                                            <div class="col-sm-12 mega-col" data-colwidth="12" data-type="menu">
                                                                                <div class="mega-col-inner">
                                                                                    <ul>
                                                                                        <li class=" "><a href="http://pharmacity.vn/ke-va-keo-cao-su"><span class="menu-title">Kẹo &amp; Kẹo Cao Su</span><span class="menu-desc">Kẹo &amp; Kẹo Cao Su</span></a></li>
                                                                                        <li class=" "><a href="http://pharmacity.vn/do-an-vat"><span class="menu-title">Đồ Ăn Vặt</span><span class="menu-desc">Đồ Ăn Vặt\Snack</span></a></li>
                                                                                        <li class=" "><a href="http://pharmacity.vn/nuoc-giai-khat"><span class="menu-title">Nước Giải Khát</span><span class="menu-desc">Nước Giải Khát</span></a></li>
                                                                                        <li class=" "><a href="http://pharmacity.vn/sua"><span class="menu-title">Sữa</span><span class="menu-desc">Sữa</span></a></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end menu Danh muc-->

                                <!-- cho nay cho bootstrap -->
                                <div id="pav-mainnav" class="col-lg-9 col-md-9 col-sm-12">
                                    <div class="pav-megamenu">
                                        <div class="navbar navbar-mega" role="navigation">
                                            <div id="mainmenutop" class="megamenu" role="navigation">
                                                <div class="show-mobile hidden-lg hidden-md">
                                                    <div class="quick-access pull-left">
                                                        <button data-toggle="offcanvas" class="btn btn-outline visible-xs visible-sm" type="button"><span class="fa fa-bars"></span></button>
                                                    </div>
                                                </div>
                                                <div class="collapse navbar-collapse" id="bs-megamenu">
                                                    <ul class="nav navbar-nav megamenu">
                                                        <li class="home">
                                                            <a href="/gioi-thieu"><span class="menu-title">Giới Thiệu</span><span class="menu-desc">Giới Thiệu</span></a>
                                                        </li>
                                                        <li class="home">
                                                            <a href="/su-kien"><span class="menu-title">Sự Kiện</span><span class="menu-desc">Sự Kiện</span></a>
                                                        </li>
                                                        <li class="home">
                                                            <a href="/khuyen-mai"><span class="menu-title">Khuyến Mãi</span><span class="menu-desc">Khuyến Mãi</span></a>
                                                        </li>
                                                        <li class="home">
                                                            <a href="/thuoc-va-suc-khoe"><span class="menu-title">Tin Tức</span><span class="menu-desc">News</span></a>
                                                        </li>
                                                        <li class="">
                                                            <a href="lien-he"><span class="menu-title">Liên Hệ</span><span class="menu-desc">Liên Hệ</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- eo biet noi gi-->
                            </div>
                        </div>
                    </section>
                    <!-- end navigation menu-->


                    <div id="pav-mainnav">
                        <div class="container">
                            <div class="hidden-lg hidden-md hidden-sm hidden-xs">
                                <div id="mainmenutop" role="navigation" class="mainmenutop">
                                    <a class="navbar-toggle icon-velmenu" href="javascript:;" data-target=".navbar-collapse" data-toggle="collapse">
                                        <span class="fa fa-bars"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end menu ngang dau tien -->
                <script>
                    jQuery(document).ready(function() {
                        jQuery(document).scroll(function() {
                            var y = jQuery(this).scrollTop();
                            if (y > 100) {
                                jQuery("#pav-masshead").addClass("css-fix-menu");
                            } else {
                                jQuery("#pav-masshead").removeClass("css-fix-menu");
                            }
                        });
                    });
                </script>
                <style>
                    @@media only screen and (min-width:768px) {
                        .css-fix-menu {
                            box-shadow: 0px 3px 10px #a7a7a7 !important;
                            position: fixed;
                            top: 0px;
                            z-index: 100;
                            max-width: 1200px;
                            width: 100%;
                            z-index: 999999;
                        }
                        .css-fix-menu .inner {
                            background: #fff !important;
                        }
                        .css-fix-menu .inner ul li a {
                            color: #333333 !important;
                        }
                        .css-fix-menu .box-heading {
                            background: #fff !important;
                            color: #333333 !important;
                        }
                        .css-fix-menu .inner ul li a:hover {
                            color: #1175b1 !important;
                        }
                    }
                </style>
            </section>
            <!-- /header -->

            <!-- sys-notification -->
            <div id="sys-notification">
                <div class="container">
                    <div id="notification"></div>
                </div>
            </div>
            <!-- /sys-notification -->


            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="index.html">Trang chủ</a></li>
                    <li><a href="#">Nước hoa</a></li>
                    <li><a href="#"> Nước hoa SK II</a></li>
                </ul>
                <div class="row">

                    <section id="sidebar-main" class="col-md-12">

                        <div id="contents" class="wrappers clearfix">
                            <div class="product-info">
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 image-container">
                                        <div class="image">
                                            <a href="" title="Nước hoa SK II" class="imagezoom">
                                                <img itemprop="image" src="~/sanpham/sp1.jpg" title="Nước hoa SK II" alt="Nước hoa SK II" id="image" data-zoom-image="sanpham/sp1.jpg" class="product-image-zoom img-responsive"/>
                                            </a>
                                        </div>
                                        <div class="thumbs-preview"></div>
                                    </div>

                                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 product-view">
                                        <h1 class="name">Nước hoa SK II</h1>
                                        <div class="rating">
                                            <p>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                <a style="margin-left: 10px;" href="#review-form" class="popup-with-form" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">0 Bình luận</a>
                                                <a href="#review-form" class="popup-with-form" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Gửi Bình luận</a>
                                            </p>
                                            <hr>
                                        </div>
                                        <div class="product-extra">
                                            <ul class="list-unstyled description no-padding">
                                                <li><i class="fa fa-chevron-down"></i><b>Mã sản phẩm:</b> P00911</li>
                                                <li><i class="fa fa-chevron-down"></i><b>Tình trạng:</b> Còn hàng</li>
                                            </ul>
                                        </div>
                                        <div class="price">
                                            <ul class="list-unstyled">
                                                <li class="price-gruop">
                                                    <span class="price-old">132.000đ</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="product">
                                            <div class="product-extra">
                                                <div class="quantity-adder pull-left">
                                                    <span class="control-label pull-left text-qty" for="input-quantity">Số lượng</span>
                                                    <div class="quantity-number input-group pull-left">
                                                        <span class="add-down add-action input-group-addon"><i class="fa fa-minus"></i></span>
                                                        <input class="form-control" type="text" name="quantity" size="2" value="1" />
                                                        <span class="add-up add-action input-group-addon"><i class="fa fa-plus"></i></span>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="product_id" value="732" />
                                                <div class="action pull-left">
                                                    <div class="cart">
                                                        <button type="button" id="button-cart" data-loading-text="Đang xử lý..." class="btn btn-inverse btn-variant">
                                                            <span>Thêm vào giỏ</span>               
                                                        </button>
                                                    </div>
                                                    <div class="wishlist">
                                                        <button type="button" data-toggle="tooltip" class="wishlist btn btn-outline-inverse btn-variant" title="Thêm Yêu thích" onclick="wishlist.addwishlist('732');"><i class="fa fa-heart"></i><span>Thêm Yêu thích</span>
                                                        </button>
                                                    </div>
                                                    <div class="compare">
                                                        <button type="button" data-toggle="tooltip" class="compare btn btn-outline-inverse btn-variant" title="Thêm so sánh" onclick="compare.addcompare('732');"><i class="fa fa-refresh"></i><span>Thêm so sánh</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <!-- AddThis Button BEGIN -->
                                        <div class="addthis_toolbox addthis_default_style">
                                            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                            <a class="addthis_button_tweet"></a>
                                            <a class="addthis_button_pinterest_pinit"></a>
                                            <a class="addthis_counter addthis_pill_style"></a>
                                        </div>
                                        <script type="text/javascript" src="catalog/view/javascript/addthis_widget.js"></script>
                                        <!-- AddThis Button END -->
                                    </div>
                                </div>
                            </div>
                            <div class="tabs-group box">
                                <ul class="nav nav-tabs clearfix">
                                    <li class="active"><a href="#tab-description" data-toggle="tab">Mô tả</a></li>
                                    <li><a href="#tab-review" data-toggle="tab">Đánh giá (0)</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab-description">Nước hoa SKII hàng xách tay từ Nhật</div>

                                    <div class="tab-pane" id="tab-review">

                                        <div id="review"></div>
                                        <p> <a href="#review-form" class="popup-with-form btn btn-sm btn-inverse" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Gửi Bình luận</a></p>

                                        <div class="hide">
                                            <div id="review-form" class="panel">
                                                <div class="panel-body">
                                                    <form class="form-horizontal ">

                                                        <h2>Gửi Bình luận</h2>
                                                        <div class="form-group required">
                                                            <div class="col-sm-12">
                                                                <label class="control-label" for="input-name">Họ & Tên:</label>
                                                                <input type="text" name="name" value="" id="input-name" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group required">
                                                            <div class="col-sm-12">
                                                                <label class="control-label" for="input-review">Nội dung:</label>
                                                                <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                                                <div class="help-block"><span style="color: #FF0000;">Lưu ý:</span> không hỗ trợ HTML!</div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group required">
                                                            <div class="col-sm-12">
                                                                <label class="control-label">Cho điểm:</label> &nbsp;&nbsp;&nbsp; Bình thường&nbsp;
                                                                <input type="radio" name="rating" value="1" /> &nbsp;
                                                                <input type="radio" name="rating" value="2" /> &nbsp;
                                                                <input type="radio" name="rating" value="3" /> &nbsp;
                                                                <input type="radio" name="rating" value="4" /> &nbsp;
                                                                <input type="radio" name="rating" value="5" /> &nbsp;Tốt
                                                            </div>
                                                        </div>
                                                        <div class="form-group required">
                                                            <div class="col-sm-12">
                                                                <label class="control-label" for="input-captcha">Nhập mã kiểm tra vào ô bên dưới:</label>
                                                                <input type="text" name="captcha" value="" id="input-captcha" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-12"> <img src="~/image/capcha.png" alt="" id="captcha" /> </div>
                                                        </div>
                                                        <div class="buttons">
                                                            <div class="pull-right">
                                                                <button type="button" id="button-review" data-loading-text="Đang xử lý..." class="btn btn-outline">Tiếp tục</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <p>Tag: <a href="#"> Nước hoa</a>
                            </p>
                        </div>

                    </section>
                </div>
            </div>
            <script type="text/javascript">
                <!--
                $('select[name=\'recurring_id\'], input[name="quantity"]').change(function() {
                    $.ajax({
                        url: 'index.php?route=product/product/getRecurringDescription',
                        type: 'post',
                        data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
                        dataType: 'json',
                        beforeSend: function() {
                            $('#recurring-description').html('');
                        },
                        success: function(json) {
                            $('.alert, .text-danger').remove();

                            if (json['success']) {
                                $('#recurring-description').html(json['success']);
                            }
                        }
                    });
                });
                //-->
            </script>
            <script type="text/javascript">
                <!--
                $('#button-cart').on('click', function() {
                    $.ajax({
                        url: 'index.php?route=checkout/cart/add',
                        type: 'post',
                        data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
                        dataType: 'json',
                        beforeSend: function() {
                            $('#button-cart').button('loading');
                        },
                        complete: function() {
                            $('#button-cart').button('reset');
                        },
                        success: function(json) {
                            $('.alert, .text-danger').remove();
                            $('.form-group').removeClass('has-error');

                            if (json['error']) {
                                if (json['error']['option']) {
                                    for (i in json['error']['option']) {
                                        var element = $('#input-option' + i.replace('_', '-'));

                                        if (element.parent().hasClass('input-group')) {
                                            element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                                        } else {
                                            element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                                        }
                                    }
                                }

                                if (json['error']['recurring']) {
                                    $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                                }

                                // Highlight any found errors
                                $('.text-danger').parent().addClass('has-error');
                            }

                            if (json['success']) {
                                $('#notification').html('<div class="alert alert-success">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                                $('#cart-total').html(json['total']);

                                $('html, body').animate({
                                    scrollTop: 0
                                }, 'slow');

                                $('#cart > ul').load('index.php?route=common/cart/info ul li');
                            }
                        }
                    });
                });
                //-->
            </script>
            <script type="text/javascript">
                <!--
                $('.date').datetimepicker({
                    pickTime: false
                });

                $('.datetime').datetimepicker({
                    pickDate: true,
                    pickTime: true
                });

                $('.time').datetimepicker({
                    pickDate: false
                });

                $('button[id^=\'button-upload\']').on('click', function() {
                    var node = this;

                    $('#form-upload').remove();

                    $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

                    $('#form-upload input[name=\'file\']').trigger('click');

                    $('#form-upload input[name=\'file\']').on('change', function() {
                        $.ajax({
                            url: 'index.php?route=tool/upload',
                            type: 'post',
                            dataType: 'json',
                            data: new FormData($(this).parent()[0]),
                            cache: false,
                            contentType: false,
                            processData: false,
                            beforeSend: function() {
                                $(node).button('loading');
                            },
                            complete: function() {
                                $(node).button('reset');
                            },
                            success: function(json) {
                                $('.text-danger').remove();

                                if (json['error']) {
                                    $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                                }

                                if (json['success']) {
                                    alert(json['success']);

                                    $(node).parent().find('input').attr('value', json['code']);
                                }
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    });
                });
                //-->
            </script>
            <script type="text/javascript">
                <!--
                $('#review').delegate('.pagination a', 'click', function(e) {
                    e.preventDefault();

                    $('#review').fadeOut('slow');

                    $('#review').load(this.href);

                    $('#review').fadeIn('slow');
                });

                $('#review').load('index.php?route=product/product/review&product_id=732');

                $('#button-review').on('click', function() {
                    $.ajax({
                        url: 'index.php?route=product/product/write&product_id=732',
                        type: 'post',
                        dataType: 'json',
                        data: 'name=' + encodeURIComponent($('input[name=\'name\']').val()) + '&text=' + encodeURIComponent($('textarea[name=\'text\']').val()) + '&rating=' + encodeURIComponent($('input[name=\'rating\']:checked').val() ? $('input[name=\'rating\']:checked').val() : '') + '&captcha=' + encodeURIComponent($('input[name=\'captcha\']').val()),
                        beforeSend: function() {
                            $('#button-review').button('loading');
                        },
                        complete: function() {
                            $('#button-review').button('reset');
                            $('#captcha').attr('src', 'index.php?route=tool/captcha#' + new Date().getTime());
                            $('input[name=\'captcha\']').val('');
                        },
                        success: function(json) {
                            $('.alert-success, .alert-danger').remove();

                            if (json['error']) {
                                $('#review-form  form').before('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                            }

                            if (json['success']) {
                                $('#review').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

                                $('input[name=\'name\']').val('');
                                $('textarea[name=\'text\']').val('');
                                $('input[name=\'rating\']:checked').prop('checked', false);
                                $('input[name=\'captcha\']').val('');
                            }
                        }
                    });
                });

                $(document).ready(function() {
                    $('.image a').click(
                        function() {
                            $.magnificPopup.open({
                                items: {
                                    src: $('img', this).attr('src')
                                },
                                type: 'image'
                            });
                            return false;
                        }
                    );
                });
                //-->
            </script>
            <script type="text/javascript" src=" catalog/view/javascript/jquery/elevatezoom/elevatezoom-min.js"></script>
            <script type="text/javascript">
                var zoomCollection = '#image';
                $(zoomCollection).elevateZoom({
                    zoomType: "lens",
                    lensShape: "round",
                    lensSize: 200,
                    easing: true,
                    gallery: 'image-additional-carousel',
                    cursor: 'pointer',
                    galleryActiveClass: "active"
                });
            </script>

            <!-- footer-->
            <footer id="footer">
                <section class="footer-top " id="pavo-footer-top">
                    <div class="container">
                        <div class="inner">
                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <p><img src="~/image/logo.jpg" width="90px" height="90px"><br></p>
                                </div>
                                <div class="col-md-2 col-sm-4">
                                    <h5 class="box-heading"><span>Quản Lý Tài khoản</span></h5>
                                    <ul class="list-unstyled">
                                        <li><a href="">Liên hệ</a></li>
                                        <li><a href="">Đổi / Trả hàng</a></li>
                                        <li><a href="">Sơ đồ trang</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-2 col-sm-4">
                                    <h5 class="box-heading"><span>Chăm sóc Khách hàng</span></h5>
                                    <ul class="list-unstyled">
                                        <li><a href="">Thương hiệu</a></li>
                                        <li><a href="">Phiếu quà tặng</a></li>
                                        <li><a href="">Cộng Tác Bán Hàng</a></li>
                                        <li><a href="">Khuyến mãi</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-2 col-sm-4">
                                    <h5 class="box-heading"><span>Quản lý Tài khoản</span></h5>
                                    <ul class="list-unstyled">
                                        <li><a href="">Quản lý Tài khoản</a></li>
                                        <li><a href="">Lịch sử đơn hàng</a></li>
                                        <li><a href="">Danh sách yêu thích</a></li>
                                        <li><a href="">Thư thông báo</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <div class="box pav-custom  ">
                                        <div class="box-content">
                                            <div class="address">
                                                <div class="box-addres">
                                                    <div class="link-address icon"><span class="fa fa-map-marker">&nbsp;</span><span>Somewhere in VN</span></div>
                                                    <div class="link-mobile icon"> <span class="fa fa-phone">&nbsp;</span><span>Phone: Your phone number</span></div>
                                                    <div class="link-mail icon"> <span class="fa fa-envelope">&nbsp;</span> <span>Email: email@email.com</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
            <!-- end footer-->

            <div id="powered">
                <div class="container">
                    <div class="inner">
                        <div id="top"><a class="scrollup" href="#"><i class="fa fa-angle-up"></i>Top</a></div>
                        <div class="copyright">
                           Shop Hoa Hướng Dương chuyên hàng xách tay
                        </div>
                        <div class="paypal">
                            <img src="~/image/data/paypal.png"> </div>
                    </div>
                </div>
            </div>

            <div class="outsite"></div>

            <script type="text/javascript">
                $(document).ready(function() {
                    $(".paneltool .panelbutton").click(function() {
                        $(this).parent().toggleClass("active");
                    });
                });
            </script>
            </div>
            <style>
                .scrollup123 {
                    position: fixed;
                    bottom: 15px;
                    right: 50px;
                    display: none;
                    text-indent: -9999px;
                    width: 0px;
                    height: 0px;
                    border-left: 20px solid transparent;
                    /* left arrow slant */
                    border-right: 20px solid transparent;
                    /* right arrow slant */
                    border-bottom: 30px solid #2b9648;
                    margin-bottom: 150px;
                    z-index: 999999;
                }
            </style>

            <script>
                $(document).ready(function() {
                    $(window).scroll(function() {
                        if ($(this).scrollTop() > 100) {
                            $('.scrollup123').fadeIn();
                        } else {
                            $('.scrollup123').fadeOut();
                        }
                    });
                    $('.scrollup123').click(function() {
                        $("html, body").animate({
                            scrollTop: 0
                        }, 600);
                        return false;
                    });
                });
            </script>

            <div style="float: right">
                <a href="#" class="scrollup123">Top</a>
            </div>
            <script src="https://code.jquery.com/jquery-migrate-1.0.0.js"></script>
    </section>

</body>

</html>