<div class="benphai float_l">
    <div style="display: none">
        <img src="http://bncvn.net/index.php?mod=imgqc&domain=mapu.vn" />
    </div>
    <style>
        .bg_gioithieu img, .bg_gioithieu input[type='image'], .bg_gioithieu table, .bg_gioithieu td, .bg_gioithieu object, .bg_gioithieu embed {
            max-width: 600px;
        }
    </style>
    <div class="bg-content-new">

        <div class="module_title">
            <ul class="unlnavi" style="width: 94%">
                <li class="acti page_small"><a href="javascript:void()">GIỚI THIỆU</a></li>

            </ul>
        </div>
        <div class="clear"></div>
        <div class="content_main">

            <p style="text-align: center;"><span style="font-size: 26px;"><span style="color: rgb(255, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$2:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">Shop Hoa Hướng Dương - Chuyên Hàng Xách Tay</span></span></span></p>

            <div class="img" style="padding: 0px; margin: 0px; line-height: 1.8em; font-family: Tahoma, Arial; text-align: center;">&nbsp;</div>

            <div class="img" style="padding: 0px; margin: 0px; line-height: 1.8em; font-family: Tahoma, Arial;"><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span style="padding: 0px; margin: 0px; line-height: 1.8em;"><strong style="padding: 0px; margin: 0px; line-height: 1.3em; color: rgb(0, 128, 0);">Triết l&yacute; kinh doanh</strong></span></span></span></div>

            <div class="img" style="padding: 0px; margin: 0px; line-height: 1.8em; font-family: Tahoma, Arial; text-align: center;">
                <p style="padding: 0.4em 0px 0px; margin: 0px; line-height: 1.8em; text-align: left;"><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span style="padding: 0px; margin: 0px; line-height: 1.8em;">Bất kỳ ai cũng xứng đ&aacute;ng c&oacute; một cuộc sống tốt đẹp hơn.&nbsp;</span></span></span></p>

                <p style="padding: 0.4em 0px 0px; margin: 0px; line-height: 1.8em; text-align: left;"><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span style="padding: 0px; margin: 0px; line-height: 1.8em;">Ch&uacute;ng t&ocirc;i chọn việc gi&uacute;p đỡ người kh&aacute;c đạt được những điều họ đ&aacute;ng được nhận.</span></span></span></p>

                <p style="padding: 0.4em 0px 0px; margin: 0px; line-height: 1.8em; text-align: left;"><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span style="padding: 0px; margin: 0px; line-height: 1.8em;"><strong style="padding: 0px; margin: 0px; line-height: 1.8em;">T&ocirc;n chỉ</strong></span></span></span></p>

                <p style="padding: 0.4em 0px 0px; margin: 0px; line-height: 1.8em; text-align: left;"><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span style="padding: 0px; margin: 0px; line-height: 1.8em;">Lấy chữ Thật l&agrave;m đầu - Dựng sự nghiệp bền l&acirc;u</span></span></span></p>

                <p style="padding: 0.4em 0px 0px; margin: 0px; line-height: 1.8em; text-align: left;"><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span style="padding: 0px; margin: 0px; line-height: 1.8em;"><strong style="padding: 0px; margin: 0px; line-height: 1.8em;">Sứ mệnh</strong></span></span></span></p>

                <p style="padding: 0.4em 0px 0px; margin: 0px; line-height: 1.8em; text-align: left;"><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span style="padding: 0px; margin: 0px; line-height: 1.8em;">* Cung cấp những sản phẩm sức khỏe chất lượng cao với chi ph&iacute; tốt nhất.</span></span></span></p>

                <p style="padding: 0.4em 0px 0px; margin: 0px; line-height: 1.8em; text-align: left;"><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span style="padding: 0px; margin: 0px; line-height: 1.8em;">* Đem lại cơ hội tạo dựng một cuộc sống xứng đ&aacute;ng nhất cho kh&aacute;ch h&agrave;ng, nh&acirc;n vi&ecirc;n v&agrave; cổ đ&ocirc;ng.</span></span></span></p>

                <p style="padding: 0.4em 0px 0px; margin: 0px; line-height: 1.8em; text-align: left;"><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span style="padding: 0px; margin: 0px; line-height: 1.8em;">&nbsp;<strong style="padding: 0px; margin: 0px; line-height: 1.8em;">Tầm nh&igrave;n</strong></span></span></span></p>

                <p style="padding: 0.4em 0px 0px; margin: 0px; line-height: 1.8em; text-align: left;"><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span style="padding: 0px; margin: 0px; line-height: 1.8em;">* Trở th&agrave;nh c&ocirc;ng ty h&agrave;ng đầu trong lĩnh vực chăm s&oacute;c sức khoẻ tại Việt Nam.</span></span></span></p>

                <p style="padding: 0.4em 0px 0px; margin: 0px; line-height: 1.8em; text-align: left;"><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><strong><span style="padding: 0px; margin: 0px; line-height: 1.8em;">Ti&ecirc;u ch&iacute; kinh doanh</span></strong></span></span></p>
            </div>

            <p><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$4:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">&bull; Mục ti&ecirc;u số 1 của ch&uacute;ng t&ocirc;i l&agrave; Uy T&iacute;n, Chất Lượng, X&acirc;y Dựng Kh&aacute;ch H&agrave;ng L&acirc;u Năm. </span><span style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">N&oacute;i kh&ocirc;ng với h&agrave;ng giả, h&agrave;ng k&eacute;m chất lượng. </span></span></span></p>

            <p>
                <br data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$5:0" style="color: rgb(55, 62, 77); font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; font-size: 12px; line-height: 15.3599996566772px; white-space: pre-wrap; background-color: rgb(246, 247, 248);" />
                <span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$6:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">&bull; Ho&agrave;n trả lại 100% tiền cho kh&aacute;ch nếu ph&aacute;t hiện h&agrave;ng của ch&uacute;ng t&ocirc;i l&agrave; giả, h&agrave;ng nh&aacute;i</span></span></span>
            </p>

            <p>
                <br data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$7:0" style="color: rgb(55, 62, 77); font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; font-size: 12px; line-height: 15.3599996566772px; white-space: pre-wrap; background-color: rgb(246, 247, 248);" />
                <span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$8:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">&bull; Giảm gi&aacute; tất cả c&aacute;c sản phẩm cho kh&aacute;ch mua h&agrave;ng lần đầu ti&ecirc;n hoặc li&ecirc;n hệ trực tiếp với ch&uacute;ng t&ocirc;i để mua được h&agrave;ng với mức gi&aacute; ưu đ&atilde;i nhất. </span></span></span>
            </p>

            <p>
                <br data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$9:0" style="color: rgb(55, 62, 77); font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; font-size: 12px; line-height: 15.3599996566772px; white-space: pre-wrap; background-color: rgb(246, 247, 248);" />
                <span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$10:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">&bull; Với kinh nghiệm hơn 20 năm sống tr&ecirc;n đất &Uacute;c v&agrave; c&oacute; người nh&agrave; l&agrave; chủ Chemist shop ở Sydney, ch&uacute;ng t&ocirc;i khẳng định c&oacute; thể cung cấp được tất cả </span></span></span><span style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap; color: rgb(0, 0, 0); font-size: 16px;">c&aacute;c mặt h&agrave;ng </span>
            </p>

            <p><span style="color: rgb(0, 0, 0); font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; font-size: 16px; line-height: 15.3599996566772px; white-space: pre-wrap;">bạn y&ecirc;u cầu với mức gi&aacute; tốt nhất. </span></p>

            <p>
                <br data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$13:0" style="color: rgb(55, 62, 77); font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; font-size: 12px; line-height: 15.3599996566772px; white-space: pre-wrap; background-color: rgb(246, 247, 248);" />
                <span style="font-size: 24px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$14:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;"><strong>Shop Hoa Hướng Dương</strong>: </span></span></span>
            </p>

            <p>&nbsp;</p>

            <p><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$16:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">&bull; Chuy&ecirc;n b&aacute;n bu&ocirc;n, b&aacute;n lẻ c&aacute;c loại sản phẩm của &Uacute;c v&agrave; c&aacute;c mặt h&agrave;ng tr&ecirc;n thị trường &Uacute;c. </span></span></span></p>

            <p>
                <br data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$17:0" style="color: rgb(55, 62, 77); font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; font-size: 12px; line-height: 15.3599996566772px; white-space: pre-wrap; background-color: rgb(246, 247, 248);" />
                <span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$18:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">&bull; Nhận order h&agrave;ng x&aacute;ch tay từ &Uacute;c mĩ phẩm, quần &aacute;o, gi&agrave;y d&eacute;p, t&uacute;i x&aacute;ch, thực phẩm chức năng, ..v...v.. </span></span></span>
            </p>

            <p>
                <br data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$19:0" style="color: rgb(55, 62, 77); font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; font-size: 12px; line-height: 15.3599996566772px; white-space: pre-wrap; background-color: rgb(246, 247, 248);" />
                <span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$20:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">&bull; Mua sỉ hoặc h&agrave;ng order h&agrave;ng sẽ về sau 5-7 ng&agrave;y, nhận h&agrave;ng trong ng&agrave;y đối với những mặt h&agrave;ng c&oacute; sẵn.</span></span></span>
            </p>

            <p>&nbsp;</p>

            <p>
                <span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$22:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">&bull;<u> Với kh&aacute;ch h&agrave;ng tại H&agrave; Nội: </u></span></span></span>
                <br data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$23:0" style="color: rgb(55, 62, 77); font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; font-size: 12px; line-height: 15.3599996566772px; white-space: pre-wrap; background-color: rgb(246, 247, 248);" />
                &nbsp;
            </p>

            <p><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$24:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">- Shop nhận đưa h&agrave;ng tận nơi, thanh to&aacute;n trực tiếp với những kh&aacute;ch h&agrave;ng mua lẻ trong nội th&agrave;nh. Nhưng khuyến kh&iacute;ch c&aacute;c bạn qua tận nh&agrave; xem </span></span></span><span style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap; color: rgb(0, 0, 0); font-size: 16px;">v&agrave; mua h&agrave;ng.</span></p>

            <p>
                <br data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$25:0" style="color: rgb(55, 62, 77); font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; font-size: 12px; line-height: 15.3599996566772px; white-space: pre-wrap; background-color: rgb(246, 247, 248);" />
                <span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$26:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">- Với những kh&aacute;ch h&agrave;ng mua bu&ocirc;n v&agrave; order, c&aacute;c bạn sẽ phải đặt cọc 50% gi&aacute; trị đơn h&agrave;ng. Inbox hoặc sms 0986708384 để biết r&otilde; hơn th&ocirc;ng </span></span></span><span style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap; color: rgb(0, 0, 0); font-size: 16px;">tin về mua sỉ v&agrave; </span>
            </p>

            <p><span style="color: rgb(0, 0, 0); font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; font-size: 16px; line-height: 15.3599996566772px; white-space: pre-wrap;">order. </span></p>

            <p>&nbsp;</p>

            <p><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><u><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$28:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">&bull; Với kh&aacute;ch h&agrave;ng tại c&aacute;c tỉnh th&agrave;nh kh&aacute;c:</span></u></span></span></p>

            <p>
                <br data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$29:0" style="color: rgb(55, 62, 77); font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; font-size: 12px; line-height: 15.3599996566772px; white-space: pre-wrap; background-color: rgb(246, 247, 248);" />
                <span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$30:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">- Chuyển khoản 100% gi&aacute; trị sản phẩm + ship, Shop sẽ chuyển ph&aacute;t nhanh hoặc gửi t&agrave;u xe h&agrave;ng đến cho bạn.</span></span></span>
            </p>

            <p>
                <br data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$33:0" style="color: rgb(55, 62, 77); font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; font-size: 12px; line-height: 15.3599996566772px; white-space: pre-wrap; background-color: rgb(246, 247, 248);" />
                <span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$34:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">Mọi th&ocirc;ng tin th&ecirc;m c&aacute;c bạn li&ecirc;n hệ qua inbox hoặc số điện thoại:</span></span></span>
            </p>

            <p>
                <br data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$35:0" style="color: rgb(55, 62, 77); font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; font-size: 12px; line-height: 15.3599996566772px; white-space: pre-wrap; background-color: rgb(246, 247, 248);" />
                <span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$36:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">&bull; </span></span><span style="color: rgb(255, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$36:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">My: 043.66 22 881 - 098 670 8384</span></span><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$36:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;"> ( viber, imes, sms, call )</span></span><span style="color: rgb(0, 0, 255);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$36:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">Facebook: My Nguyen (H&agrave;ng &Uacute;c X&aacute;ch Tay) </span></span><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$36:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">- 412 Trương Định, Ho&agrave;ng Mai, H&agrave; Nội.</span></span></span>
            </p>

            <p>
                <br data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$37:0" style="color: rgb(55, 62, 77); font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; font-size: 12px; line-height: 15.3599996566772px; white-space: pre-wrap; background-color: rgb(246, 247, 248);" />
                <span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$38:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">&bull; </span></span><span style="color: rgb(255, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$38:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">Huy: +61 434 405 784</span></span><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$38:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;"> ( viber, call ) </span></span><span style="color: rgb(0, 0, 255);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$38:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">Facebook: Max Nguyen</span></span><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$38:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;"> - 12 Frith Ave Normanhurst, Sydney, Australia.</span></span></span><br data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$39:0" style="color: rgb(55, 62, 77); font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; font-size: 12px; line-height: 15.3599996566772px; white-space: pre-wrap; background-color: rgb(246, 247, 248);" />
                <br data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$41:0" style="color: rgb(55, 62, 77); font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; font-size: 12px; line-height: 15.3599996566772px; white-space: pre-wrap; background-color: rgb(246, 247, 248);" />
                <span style="color: rgb(0, 0, 255);"><span style="font-size: 18px;">Facebook page: Shop Hoa Hướng Dương - Chuyên Hàng Xách Tay</span></span>
            </p>

            <p>&nbsp;</p>

            <p><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$42:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">Chuyển khoản: Nguyen Ha My STK: 0691000334147 - Ng&acirc;n h&agrave;ng Vietcombank Chi nh&aacute;nh H&agrave; T&acirc;y.</span></span></span></p>

            <p>&nbsp;</p>

            <p><span style="font-size: 16px;"><span style="color: rgb(0, 0, 0);"><span data-reactid=".r.$mid=11431511026548=2df6ad6fbc8bceacd65.2:0.0.0.0.0.0.$end:0:$42:0" style="font-family: helvetica, arial, &#039; lucida grande&#039; , sans-serif; line-height: 15.3599996566772px; white-space: pre-wrap;">(<u>G&iacute;a sản phẩm c&oacute; thể thay đổi theo thời điểm nhập h&agrave;ng)</u></span></span></span></p>

            <p style="padding: 0.4em 0px 0px; margin: 0px; line-height: 1.8em; font-family: Tahoma, Arial; text-align: center;"><span style="color: rgb(64, 224, 208);"><span style="font-size: 20px;"><span style="padding: 0px; margin: 0px; line-height: 1.8em;"><em style="padding: 0px; margin: 0px; line-height: 1.3em; color: rgb(0, 102, 0);"><strong style="padding: 0px; margin: 0px; line-height: 1.8em;"><span style="background-color: rgb(255, 255, 255);">Shop Hoa Hướng Dương đang ng&agrave;y c&agrave;ng nỗ lực để xứng đ&aacute;ng với niềm tin y&ecirc;u của kh&aacute;ch h&agrave;ng!</span></strong></em></span></span></span></p>

            <p style="padding: 0.4em 0px 0px; margin: 0px; line-height: 1.8em; font-family: Tahoma, Arial; text-align: center;"><span style="color: rgb(64, 224, 208);"><span style="font-size: 20px;"><span style="padding: 0px; margin: 0px; line-height: 1.8em;"><em style="padding: 0px; margin: 0px; line-height: 1.3em; color: rgb(0, 102, 0);"><strong style="padding: 0px; margin: 0px; line-height: 1.8em;"><span style="background-color: rgb(255, 255, 255);">H&atilde;y c&ugrave;ng với ch&uacute;ng t&ocirc;i để c&oacute; cuộc sống xứng đ&aacute;ng hơn!</span></strong></em></span></span></span></p>

            <p style="padding: 0.4em 0px 0px; margin: 0px; line-height: 1.8em; font-family: Tahoma, Arial; text-align: justify;"><span style="padding: 0px; margin: 0px; line-height: 1.8em; color: rgb(0, 51, 0);">&nbsp;</span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="color: rgb(255, 0, 0);"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 20px; vertical-align: baseline;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; font-weight: 700; border: 0px; outline: 0px; vertical-align: baseline;">AUSTRALIA - QU&Ecirc; HƯƠNG THỨ HAI CỦA T&Ocirc;I</span></span></span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">&nbsp;</p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">
                <img alt="" src="http://vitaminsaustralia.com.vn/profiles/vitaminsaustraliacomvn/uploads/attach/post/images/%C3%9Ac(1).jpg" style="margin: 0px auto; padding: 5px; border: 1px solid rgb(237, 237, 237); box-sizing: border-box; vertical-align: middle; outline: 0px; height: 309px; max-width: 100%; display: block; width: 550px;" />
            </p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; font-style: inherit; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline;">Sydney Opera House, NSW</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; font-style: inherit; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline;">&nbsp;&nbsp;</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline; color: rgb(0, 153, 102);"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; font-weight: 700; border: 0px; outline: 0px; vertical-align: baseline;">V&agrave;i n&eacute;t về h&ograve;n đảo xinh đẹp Australia</span></span></span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline; color: rgb(0, 0, 0);">Nổi tiếng về vẻ đẹp tự nhi&ecirc;n với những b&atilde;i biển d&agrave;i bất tận, v&agrave; những con người th&acirc;n thiện y&ecirc;u th&iacute;ch thể thao, Australia chắc chắn kh&ocirc;ng thể tự nhi&ecirc;n được biết đ&ecirc;n như một &ldquo;đất nước may mắn&rdquo;. Đ&acirc;y l&agrave; một đất nước đầy sự trẻ trung, s&ocirc;i nổi v&agrave; nhi&ecirc;t huyết, Australia thường xuy&ecirc;n nằm trong top 5 đất nước l&yacute; tưởng cho việc định cư. Rất nhiều người ban đầu đến Australia (hay c&ograve;n được biết đến l&agrave; &lsquo;Oz&rsquo;) chỉ với &yacute; định học tập, du lich hay l&agrave;m việc trong một v&agrave;i năm v&agrave; kết quả l&agrave; định cư l&acirc;u d&agrave;i tại đ&acirc;y. N&ecirc;́u c&oacute; dịp đặt ch&acirc;n đ&ecirc;́n v&ugrave;ng đ&acirc;́t xinh đẹp n&agrave;y, d&ugrave; chỉ m&ocirc;̣t l&acirc;̀n, bạn sẽ hiểu tại sao!</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">&nbsp;</p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">
                <span style="font-size: 18px;">
                    <img alt="" src="http://vitaminsaustralia.com.vn/profiles/vitaminsaustraliacomvn/uploads/attach/post/images/Uluru%20Ayers%20Rock%2C%20Alice%20Springs(1).jpg" style="margin: 0px auto; padding: 5px; border: 1px solid rgb(237, 237, 237); box-sizing: border-box; vertical-align: middle; outline: 0px; height: 367px; max-width: 100%; display: block; width: 550px;" /></span>
            </p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; font-style: inherit; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline;">Uluru Ayers Rock, Alice Springs</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">&nbsp;</p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline; color: rgb(0, 0, 0);">Khi nhắc đến đất nước Australia người ta thường h&igrave;nh dung ra những b&atilde;i c&aacute;t trắng trải d&agrave;i tr&ecirc;n bờ biển ph&iacute;a t&acirc;y, những hẻm n&uacute;i tuyệt đẹp của vườn quốc gia Kakadu hay sa mạc &lsquo;Red centre&rsquo; nhuốm đỏ trong &aacute;nh ho&agrave;ng h&ocirc;n v&agrave; nh&acirc;́t l&agrave; kh&ocirc;ng thể kh&ocirc;ng nhắc đến biểu tượng những c&aacute;nh buồm của nh&agrave; h&aacute;t Con S&ograve; ở Sydney. Australia kh&ocirc;ng chỉ l&agrave; một đất nước c&oacute; vẻ đẹp tự nhi&ecirc;n tuyệt vời, đ&acirc;y c&ograve;n l&agrave; một đất nước gi&agrave;u nền văn h&oacute;a với những khu bảo t&agrave;ng đầy m&ecirc; hoặc, những phong trưng b&agrave;y nghệ thuật đỉnh cao, những qu&aacute;n caf&eacute; độc đ&aacute;o v&agrave; c&aacute;c nh&agrave; h&agrave;ng kết c&oacute; phong c&aacute;ch đa dạng từ khắp nơi tr&ecirc;n thế giới.</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">&nbsp;</p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">
                <span style="font-size: 18px;">
                    <img alt="" src="http://vitaminsaustralia.com.vn/profiles/vitaminsaustraliacomvn/uploads/attach/post/images/Port%20Douglas%2C%20North%20Queensland(1).jpg" style="margin: 0px auto; padding: 5px; border: 1px solid rgb(237, 237, 237); box-sizing: border-box; vertical-align: middle; outline: 0px; height: auto; max-width: 100%; display: block; width: 550px;" /></span>
            </p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; font-style: inherit; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline;">&nbsp; Port Douglas, North Queensland</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">&nbsp;</p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline; color: rgb(0, 0, 0);">V&igrave; thế d&ugrave; bạn đang t&igrave;m kiếm b&atilde;i biển hoang vắng để trải khăn tắm nắng hay muốn kh&aacute;m ph&aacute; những đường m&ograve;n trong rừng nhiệt đới, mu&ocirc;́n thưởng thức những bữa tiệc s&ocirc;i động hay thử tham gia v&agrave;o một cuộc h&agrave;nh tr&igrave;nh lớn vượt qua sa mạc đỏ, Australia đ&ecirc;̀u c&oacute; th&ecirc;̉ mang đến cho bạn t&acirc;t cả những điều n&agrave;y&hellip;. V&agrave; hơn thế nữa!</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">&nbsp;</p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline; color: rgb(0, 153, 102);"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; font-weight: 700; border: 0px; outline: 0px; vertical-align: baseline;">Về con người Australia</span></span></span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">&nbsp;</p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">
                <span style="font-size: 18px;">
                    <img alt="" src="http://vitaminsaustralia.com.vn/profiles/vitaminsaustraliacomvn/uploads/attach/post/images/V%E1%BA%BD%20c%E1%BB%9D%20%C3%9Ac%20k%E1%BB%B7%20ni%E1%BB%87m%20Ng%C3%A0y%20%C3%9Ac(1).jpg" style="margin: 0px auto; padding: 5px; border: 1px solid rgb(237, 237, 237); box-sizing: border-box; vertical-align: middle; outline: 0px; height: auto; max-width: 100%; display: block; width: 550px; opacity: 0.9;" /></span>
            </p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; font-style: inherit; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline;">Người&nbsp;&Uacute;c kỷ niệm Ng&agrave;y Australia (Australia Day 26/ 01)</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">&nbsp;</p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline; color: rgb(0, 0, 0);">&Uacute;c l&agrave; một quốc gia gi&agrave;u c&oacute;, ph&aacute;t triển v&agrave; nằm trong số c&aacute;c quốc gia thịnh vượng nhất tr&ecirc;n thế giới, c&oacute; nền kinh tế lớn thứ 12 thế giới, GDP b&igrave;nh qu&acirc;n đầu người tương đối cao, v&agrave; tỷ lệ ngh&egrave;o tương đối thấp.</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline; color: rgb(0, 0, 0);">Cư d&acirc;n &Uacute;c đứng trop top 10 nước c&oacute; tuổi thọ cao nhất thế giới, top c&aacute;c nước c&oacute; chỉ số con người hạnh ph&uacute;c nhất v&agrave; l&agrave; nước đ&aacute;ng sống thứ hai tr&ecirc;n thế giới.</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline; color: rgb(0, 0, 0);">Gần ba phần tư người &Uacute;c sống tập trung tại c&aacute;c đại th&agrave;nh thị v&agrave; khu vực duy&ecirc;n hải. B&atilde;i biển l&agrave; một phần của bản sắc &Uacute;c, l&agrave; lối sống v&agrave; t&igrave;nh y&ecirc;u của con người &Uacute;c.</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">&nbsp;</p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline; color: rgb(0, 153, 102);"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; font-weight: 700; border: 0px; outline: 0px; vertical-align: baseline;">Những người &Uacute;c đầu ti&ecirc;n</span></span></span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline; color: rgb(0, 0, 0);">Những cư d&acirc;n đầu ti&ecirc;n của &Uacute;c l&agrave; người bản địa v&agrave; người thuộc Quần đảo eo biển Torres, đ&atilde; định cư tr&ecirc;n mảnh đất n&agrave;y c&aacute;ch đ&acirc;y &iacute;t nhất l&agrave; 40000 năm v&agrave; c&oacute; thể c&aacute;ch đ&acirc;y tới 60000 năm.</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">&nbsp;</p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">
                <span style="font-size: 18px;">
                    <img alt="" src="http://vitaminsaustralia.com.vn/profiles/vitaminsaustraliacomvn/uploads/attach/post/images/Th%E1%BB%95%20d%C3%A2n%20%C3%9Ac%2C%20nh%E1%BB%AFng%20c%C6%B0%20d%C3%A2n%20%C4%91%E1%BA%A7u%20ti%C3%AAn(1).jpg" style="margin: 0px auto; padding: 5px; border: 1px solid rgb(237, 237, 237); box-sizing: border-box; vertical-align: middle; outline: 0px; height: auto; max-width: 100%; display: block; width: 550px; opacity: 0.9;" /></span>
            </p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline;">&nbsp;</span><span style="margin: 0px; padding: 0px; font-style: inherit; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline;">Thổ d&acirc;n &Uacute;c, những cư d&acirc;n đầu ti&ecirc;n</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline; color: rgb(0, 0, 0);">Người &Uacute;c th&acirc;n thiện v&agrave; hiếu kh&aacute;ch lắm! Họ được sống trong một m&ocirc;i trường đầy ắp tiếng cười, gi&agrave;u t&igrave;nh th&acirc;n &aacute;i v&agrave; một cuộc sống an to&agrave;n, hạnh ph&uacute;c; đ&acirc;y cũng l&agrave; l&yacute; do gi&uacute;p đất nước n&agrave;y trở th&agrave;nh những điểm du lịch hấp dẫn du kh&aacute;ch quốc tế.</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline; color: rgb(0, 0, 0);"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline;">Với hơn 18 triệu d&acirc;n, cư d&acirc;n &Uacute;c thuộc nhiều chủng tộc đến từ nhiều quốc gia kh&aacute;c nhau v&agrave; sống chung tr&ecirc;n c&ugrave;ng mảnh đất &Uacute;c n&agrave;y đ&atilde; tạo n&ecirc;n một nước &Uacute;c với nền văn ho&aacute; đa dạng nhất tr&ecirc;n thế g</span><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline;">iới.</span></span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline; color: rgb(0, 0, 0);">Ng&agrave;y nay, người d&acirc;n &Uacute;c được xếp v&agrave;o số d&acirc;n cư th&agrave;nh thị ho&aacute; nhất tr&ecirc;n thế giới, trung b&igrave;nh c&oacute; khoảng 80% d&acirc;n số ở c&aacute;c v&ugrave;ng l&atilde;nh thổ v&agrave; c&aacute;c bang sống c&aacute;ch c&aacute;c th&agrave;nh phố lớn khoảng 100 km.</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">&nbsp;</p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">
                <span style="font-size: 18px;">
                    <img alt="" src="http://vitaminsaustralia.com.vn/profiles/vitaminsaustraliacomvn/uploads/attach/post/images/Th%C3%A1c%20Upper%20Somerby%2C%20Central%20Coast%2C%20NSW(1).jpg" style="margin: 0px auto; padding: 5px; border: 1px solid rgb(237, 237, 237); box-sizing: border-box; vertical-align: middle; outline: 0px; height: auto; max-width: 100%; display: block; width: 550px;" /></span>
            </p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline;">&nbsp;</span><span style="margin: 0px; padding: 0px; font-style: inherit; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline;">Th&aacute;c Upper Somerby, Central Coast, NSW</span></span></p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: center; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;">&nbsp;</p>

            <p style="padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; text-align: justify; color: rgb(128, 128, 128); font-family: Arial, Helvetica, sans-serif; line-height: 21px; margin: 10px 0px !important;"><span style="font-size: 18px;"><span style="margin: 0px; padding: 0px; box-sizing: border-box; border: 0px; outline: 0px; vertical-align: baseline; color: rgb(0, 0, 0);">Nước &Uacute;c đẹp to&agrave;n diện từ thi&ecirc;n nhi&ecirc;n, đất nước, con người tới nền văn minh ti&ecirc;n tiến. Mỗi một cư d&acirc;n &Uacute;c đều tự h&agrave;o v&igrave; m&igrave;nh l&agrave; người &Uacute;c, được sống tr&ecirc;n nước &Uacute;c v&agrave; được cống hiến cho sự ph&aacute;t triển cường thịnh của xứ sở chuột t&uacute;i n&agrave;y.</span></span></p>
        </div>
        <!--content_main-->
        <div class="clear"></div>

    </div>
</div>

