<div class="benphai float_l">
    <div style="display: none">
        <img src="" />
    </div>
    <style>
        .bg_gioithieu img, .bg_gioithieu input[type='image'], .bg_gioithieu table, .bg_gioithieu td, .bg_gioithieu object, .bg_gioithieu embed {
            max-width: 600px;
        }
    </style>
    <div class="bg-content-new">

        <div class="module_title">
            <ul class="unlnavi" style="width: 94%">
                <li class="acti page_small"><a href="javascript:void()">GIỚI THIỆU</a></li>

            </ul>
        </div>
        <div class="clear"></div>
        <div class="content_main">
            <h2>GIỚI THIỆU</h2>
            <p>Shop Hoa Hướng Dương- Chuyên Hàng Xách Tay Chính Hãng Chất Lượng</p>
            <p><img src="~Images\about\1.jpg" alt="hinh 1" /></p>
            <p><img src="~Images\about\2.jpg" alt="hinh 2" /></p>
            <p>🏵💕🏵 Shop chúng tôi luôn mong muốn mang đến Quý Khách Hàng những sản phẩm chính hãng tốt nhất, chất lượng nhất với giá cả tốt nhất.</p>
            <p>Vì vậy, tất cả sản phẩm của Shop đều được mua tại các siêu thị và store lớn ở nước ngoài và có hoá đơn mua hàng đầy đủ.</p>
            <p>Đặc biệt, các sản phẩm sữa và thuốc cho trẻ em và mẹ bầu đều được mua ở các nhà thuốc uy tín lớn ở nước ngoài và có hoá đơn đầy đủ.</p>
            <p><img src="~Images\about\3.jpg" alt="hinh 3" /></p>
            <p>💠💕💠 Chuyên bán buôn giá sỉ với giá tốt.</p>
            <p>🏵💕🏵 Nhận ORDER HÀNG HIỆU, các sản phẩm theo yêu cầu của Quý Khách .</p>
            <pre>✅✅ Mọi chi tiết xin vui lòng liên hệ:
                       Viber/Imes/SMS/Call 090.309.2311.
            </pre>  
        </div>
        <!--content_main-->
        <div class="clear"></div>

    </div>
</div>

