@{
    ViewBag.Title = "Promotion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="benphai float_l">
    <style>
        p, h3, h2 {
            text-align: center;
            font-size: 20px;
            margin: 5px;
        }

        h3 {
            font-size: 30px;
        }

        h2 {
            font-size: 20px;
        }

        img {
            display: inline-block;
            margin: 5px;
        }
    </style>
    <div style="display: none">
        <img src="" />
    </div>
    <style>
        .bg_gioithieu img, .bg_gioithieu input[type='image'], .bg_gioithieu table, .bg_gioithieu td, .bg_gioithieu object, .bg_gioithieu embed {
            max-width: 600px;
        }
    </style>
    <div class="bg-content-new">

        <div class="module_title">
            <ul class="unlnavi" style="width: 94%">
                <li class="acti page_small"><a href="javascript:void()">GIỚI THIỆU</a></li>

            </ul>
        </div>
        <div class="clear"></div>
        <div class="content_main">
            <br />
            <h3> <strong>Sunflower Shop</strong></h3><br />
            <h2>&nbsp;<strong>Chuyên Hàng Xách Tay Chính Hãng Chất Lượng</strong></h2>
            <div>
                <img src="~/Images/about/1.jpg" alt="hinh 1" width="400px" height="400px" />
                <img src="~/Images/about/2.jpg" alt="hinh 2" width="400px" height="400px" />
            </div>
            <div>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;🏵💕🏵 Shop chúng tôi luôn mong muốn mang đến Quý Khách Hàng những sản phẩm chính hãng tốt nhất, chất lượng nhất với giá cả tốt nhất.</p><br />
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Vì vậy, tất cả sản phẩm của Shop đều được mua tại các siêu thị và store lớn ở nước ngoài và có hoá đơn mua hàng đầy đủ.</p><br />
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Đặc biệt, các sản phẩm sữa và thuốc cho trẻ em và mẹ bầu đều được mua ở các nhà thuốc uy tín lớn ở nước ngoài và có hoá đơn đầy đủ.</p><br />
            </div>
            <div>
                <p><img src="~/Images/about/3.jpg" alt="hinh 3" width="400px" height="400px" /></p>
            </div>
            <div>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;💠💕💠 Chuyên bán buôn giá sỉ với giá tốt.</p><br /><br />
                <p>&nbsp;&nbsp;&nbsp;&nbsp;🏵💕🏵 Nhận ORDER HÀNG HIỆU, các sản phẩm theo yêu cầu của Quý Khách .</p><br />
            </div>
            <div>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;✅✅ Mọi chi tiết xin vui lòng liên hệ:</p><br />
                <p>&nbsp;&nbsp;&nbsp;&nbsp;Viber/Imes/SMS/Call 090.309.2311.</p><br />
            </div>
        </div>
        <!--content_main-->
        <div class="clear"></div>

    </div>

</div>


